.ir {
	overflow: hidden;
	white-space: nowrap;
	text-indent: 100%;
}
.e {
	font-size: 1.35em;
	line-height: 1;
	text-transform: lowercase;
	font-weight: normal;
}
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

/* forgive me, just for legacy code */
.floatLeft {
	float: left;
}
.floatRight {
	float: right;
}
.transition-all {
	-moz-transition: all 1s;
	-webkit-transition: all 1s;
	-ms-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}
.transition-all-05 {
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
