body {
	font: normal 500 14px/1.2 'Ubuntu', sans-serif;
	letter-spacing: -1px;
}
#wrapper {
	&.loading {
		background: url(../img/spinner.gif) no-repeat 50% 20%;
	}
	position: relative;
	min-height: 500px;
	section {
		margin: 0 auto;
		width: $site-width;
		display: none;
		> h1 {
			color: $link-blue;
			font-size: 32px;
			letter-spacing: -2px;
			margin: 24px 0 36px -2px;
		}
	}
	aside {
		display: none;
		position: absolute;
		left: 0;
		top: 0;
		width: 280px;
	}
	&.filter {
		margin: 0 auto;
		width: $site-width;
		section {
			margin: 0 0 0 280px;
			width: auto;
		}
		aside {
			display: block;
		}
	}
}
.button,
button {
	background: $blue;
	&:hover {
		background: $blue-over;
	}
	border: 1px solid $blue-border;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	font-spacing: -1px;
	margin: 0;
	padding: 0;
	span {
		border-top: $blue-inset;
		display: block;
		padding: 4px;
		letter-spacing: -1px;
	}
	&.cancel,
	&[type=reset] {
		background: #fff;
		color: $mid-grey;
		border-color: $light-grey;
		margin-left: 10px;
		&:hover {
			color: $link-blue;
		}
	}
	&.icon span {
		padding: 0;
		font-weight: normal;
		text-shadow: 1px 1px 1px #333;
		filter: dropshadow(color=#333, offx=1, offy=1);
		font-family: "FontAwesome";
		font-size: 28px;
	}
	form.loading &[type=submit] {
		background: $faint-grey url(../img/loading.gif) no-repeat 4px 50%;
		border-color: $mid-grey;
		color: $mid-grey;
		span {
			padding-left: 35px !important;
		}
	}
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
td { vertical-align: top }

input.editable {
	width: 10px;
	border: 0;
	margin: 0;
	padding: 0;
	color: #757575;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: -1px;
	background: transparent;
	outline: 0;
	.indicator.right & {
		text-align: right;
	}
}

div.pac-item {
	padding: 4px;
	color: $mid-grey;
	font-size: 16px;
	font-weight: normal;
}
div.pac-container:after {
	content: '';
}
