#footer {
	width: $site-width;
	margin: 0 auto 40px;
	padding: 40px 20px 0;
	color: $mid-grey;
	letter-spacing: 0;
	font-size: 13px;
	line-height: 13px;
	@extend .clearfix;
	p {
		float: left;
		white-space: nowrap;
		margin: 0;
	}
	ul {
		float: right;
		margin: 0;
		padding: 0;
		list-style-type: none;
		li {
			float: left;
			margin-left: 5px;
			padding-left: 5px;
			border-left: 2px solid;
			&:first-child {
				margin-left: 0;
				padding-left: 0;
				border-left: 0;
			}
			a {
				color: $mid-grey;
				text-decoration: none;
				&:hover {
					color: $link-blue;
				}
			}
		}
	}
}
