#header {
	background: #FAFAFA;
	border-bottom: 1px solid #ECECEC;
	position: relative;
	z-index: 1;
	> div {
		@extend .clearfix;
		width: $site-width;
		margin: 0 auto;
		position: relative;
		padding: 59px 0 0;
	}
	h1 {
		position: absolute;
		margin: 0;
		top: 43px;
		left: 0;
		#tag-page &,
		#tags-page &,
		#home-page & {
			top: 32px;
			left: 20px;
		}
		@extend .transition-all;
		a {
			@extend .ir;
			display: block;
			width: 130px;
			height: 58px;
			background: url(../img/logo.png) no-repeat 0 0;
			#tag-page &,
			#tags-page &,
			#home-page & {
				background: url(../img/logo-home.png) no-repeat 0 0;
				width: 184px;
				height: 82px;
			}
			@extend .transition-all;
		}
	}
	.logged-in .login,
	.logged-out .user {
		display: none;
	}
	nav {
		letter-spacing: 0;
	       a {
			color: $link-grey;
			&:hover {
				color: $link-blue;
			}
			text-decoration: none;
		}
		.sell a {
			color: $sell-green;
			&:hover {
				color: $link-blue;
			}
		}
		.user a.user {
			color: $link-blue;
			text-decoration: underline;
			font-weight: bold;
			&:hover {
				color: $link-red;
			}
		}
		ul {
			position: absolute;
			right: 0;
			top: 19px;
			margin: 0;
			padding: 0;
			#tag-page &,
			#tags-page &,
			#home-page & {
				top: 81px;
			}
			@extend .transition-all;
			li {
				display: inline-block;
				vertical-align: bottom;
				a {
					padding-left: 10px;
					margin-left: 10px;
					border-left: 1px solid $link-grey;
					float: left;
					line-height: 10px;
					.e {
						line-height: 6px;
					}
					&.logout {
						padding-left: 0;
						margin-left: 0;
						border-left: 0;
					}
				}
				&:first-child {
					a {
						padding-left: 0;
						margin-left: 0;
						border-left: 0;
					}
				}
			}
		}
	}
	form.search {
		float: right;
		position: relative;
		#tag-page &,
		#tags-page &,
		#home-page & {
			margin-top: 75px;
		}
		@extend .transition-all;
		input {
			font-size: 18px;
			color: $dark-grey;
			font-weight: bold;
			width: 663px;
			#tag-page &,
			#tags-page &,
			#home-page & {
				width: 875px;
			}
			@extend .transition-all;
			padding: 14px 16px 13px;
			height: 21px;
			border: 1px solid #DBDBDB;
			border-right: none;
			-webkit-box-shadow: 0 2px 0 #EEE;
			-moz-box-shadow: 0 2px 0 #eeeeee;
			box-shadow: 0 2px 0 #EEE;
			&::-webkit-input-placeholder {
				color: $dark-grey;
				font-weight: bold;
			}
			&:-moz-placeholder {
				color: $dark-grey;
				font-weight: bold;
			}
			&.real {
				background-color: #FEFEFE;
			}
		}
		button span {
			padding: 0 8px;
			line-height: 48px;
			height: 48px;
			width: 37px;
		}
		input, button {vertical-align: middle;}
		> div {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			ul {
				width: 695px !important;
				border: 1px solid $faint-grey;
				border-top: 0;
				margin: 0;
				padding: 10px 0;
				list-style-type: none;
				color: $dark-grey;
				background: #fff;
				font-size: 18px;
				font-weight: bold;
				li {
					a {
						display: block;
						padding: 4px 16px 3px;
						&#ui-active-menuitem {
							background: $light-grey;
						}
					}
				}
			}
		}
	}
	.geo {
		@extend .transition-all;
		position: relative;
		clear: both;
		height: 60px;
		overflow: hidden;
		width: 750px;
		#tag-page &,
		#tags-page &,
		#home-page & {
			width: 960px;
		}
		#profile-page &,
		#product-page & {
			height: 0;
			margin-bottom: 20px;
		}
		margin: 0 0 0 auto;
		line-height: 60px;
		> div {
			&.loading {
				padding: 0 50px;
				min-height: 60px;
				background: url(../img/spinner.gif) no-repeat 50%;
			}
			float: left;
			padding: 0 20px 0 0;
			border-right: 1px solid $faint-grey;
			color: $link-blue;
			text-transform: capitalize;
			font-weight: bold;
			a {
				color: $link-blue;
				font-size: 12px;
				margin-left: 10px;
				text-transform: none;
				font-weight: 500;
				letter-spacing: 0;
				&:hover {
					color: $link-red;
				}
			}
			span {
				margin-right: 10px;
				font-size: 28px;
				line-height: 1;
				vertical-align: -5px;
			}
		}
		h2 {
			float: left;
			margin: 0;
			padding: 0 10px 0 20px;
			font-size: 14px;
			color: $mid-grey;
		}
		ul {
			margin: 0;
			padding: 0;
			overflow: hidden;
			height: 60px;
			li {
				margin: 0;
				padding: 0 0 0 20px;
				white-space: nowrap;
				display: inline-block;
				a {
					color: $mid-grey;
					text-decoration: none;
					font-weight: normal;
					&:hover {
						color: $link-blue;
					}
				}
			}
		}
		form {
			display: none;
			position: absolute;
			top: 10px;
			left: 0;
			padding: 20px;
			border: 1px solid $light-grey;
			background: #fff;
			line-height: 1;
			> a {
				position: absolute;
				right: 5px;
				top: 5px;
			}
			ul {
				margin: 20px 0 0;
				padding: 0;
				list-style-type: none;
				li {
					margin: 0;
					padding: 4px 0 3px;
					font-size: 13px;
					color: $link-grey;
					a {
						color: $mid-grey;
						font-size: 16px;
						font-weight: normal;
						text-decoration: none;
					}
				}
			}
		}
	}
}
