#home {
	> h1 {
		border-top: 1px solid $faint-grey;
		padding-top: 24px;
	}
	> h1:first-child {
		border: 0;
		padding-top: 0;
	}
	.more {
		&.loading {
			padding-bottom: 50px;
			background: url(../img/spinner.gif) no-repeat 50% 100%;
		}
	}
	.more ul,
	> ul {
		@extend .clearfix;
		list-style-type: none;
		margin: 32px 0 0 -30px;
		padding: 0;
		li {
			float: left;
			width: 300px;
			height: 300px;
			margin: 0 0 30px 30px;
			position: relative;
			overflow: hidden;
			color: #fff;
			cursor: pointer;
			img {
				width: 300px;
				height: 300px;
			}
			h1 {
				position: absolute;
				top: 0;
				left: 0;
				min-width: 300px;
				overflow: hidden;
				margin: 0;
				text-indent: 15px;
				font-size: 20px;
				padding: 13px 0 15px 0;
				background: transparentize($link-blue, 0.1);
				letter-spacing: -1px;
				white-space: nowrap;
			}
			div {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				background: rgba(0,0,0,0.6);
				*background: #000;
				line-height: 1.4;
				font-size: 12px;
				text-align: center;
				padding: 10px 0;
				.time {
					float: right;
					margin: 5px 15px 0 0;
					span {
						@extend .text-icon;
						font-size: 20px;
						margin-right: 5px;
						vertical-align: -3px;
					}
					display: block;
				}
				.price {
					float: left;
					margin-left: 15px;
					font-size: 26px;
					letter-spacing: -2px;
					span {
						font-size: 16px;
						vertical-align: 3px;
						letter-spacing: 0;
					}
					display: block;
				}
				display: none;
			}
			&:hover div {
				display: block;
			}
		}
		li.more-item,
		li:first-child,
		li:first-child + li {
			h1 {
				display: block;
				min-width: 467px;
			}
			width: 467px;
			height: 300px;
			img {
				width: 467px;
				height: 467px;
				margin-top: -83px;
			}
			div {
			}
		}
	}
	.categories {
		ul {
			margin: 0 -21px 0 0;
			padding: 0;
			list-style-type: none;
			@extend .clearfix;
			li {
				float: left;
				margin: 0 21px 5px 0;
				a {
					display: block;
					text-decoration: none;
					position: relative;
					width: 88px;
					height: 88px;
					text-align: center;
					&:hover strong {
						display: block;
					}
					strong {
						position: absolute;
						left: 50%;
						white-space: nowrap;
						background-color: #363636;
						bottom: 90px;
						-webkit-box-shadow: 0 4px 7px rgba(0,0,0,0.23);
						-moz-box-shadow: 0 4px 7px rgba(0,0,0,0.23);
						box-shadow: 0 4px 7px rgba(0,0,0,0.23);
						color: #fefefe;
						display: none;
						font-size: 20px;
						font-weight: bold;
						height: 40px;
						letter-spacing: -1px;
						line-height: 39px;
						min-width: 88px;
						padding: 0 11px;
						z-index: 2;
						&:after {
							background: url('../images/icon-set-2.png?v=20120522') no-repeat 0 -672px;
							content: '';
							display: block;
							height: 26px;
							left: 50%;
							margin-left: -13px;
							position: absolute;
							width: 26px;
						}
					}
				}
			}
		}
	}
	> p {
		background: $link-blue;
		color: #fff;
		height: 45px;
		overflow: hidden;
		margin: 35px 0 0;
		padding: 22px 210px 20px 164px;
		position: relative;
		font-size: 13px;
		line-height: 20px;
		letter-spacing: 0;
		strong {
			font-size: 16px;
			letter-spacing: -1px;
		}
		a {
			background-color: #fff;
			color: $link-blue;
			display: block;
			font-size: 24px;
			font-weight: bold;
			height: 45px;
			letter-spacing: -1px;
			line-height: 45px;
			margin-right: -1px;
			padding: 0 13px 0 12px;
			position: absolute;
			right: 21px;
			text-align: center;
			text-decoration: none;
			top: 20px;
			&:hover {
				color: $link-red;
			}
		}
		span {
			position: absolute;
			top: -18px;
			left: 20px;
			font-size: 100px;
			line-height: 1;
			font-weight: bold;
			-webkit-border-radius: 105px;
			-moz-border-radius: 105px;
			border-radius: 105px;
			color: $link-blue;
			background: #fff;
			padding: 10px 35px;
		}
	}
}
