/*
 * jQuery UI CSS Framework 1.8.17
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Theming/API
 */

/* Layout helpers
----------------------------------*/
.ui-helper-hidden { display: none; }
.ui-helper-hidden-accessible { position: absolute !important; clip: rect(1px 1px 1px 1px); clip: rect(1px,1px,1px,1px); }
.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.ui-helper-clearfix:before, .ui-helper-clearfix:after { content: ""; display: table; }
.ui-helper-clearfix:after { clear: both; }
.ui-helper-clearfix { zoom: 1; }
.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }


/* Interaction Cues
----------------------------------*/
.ui-state-disabled { cursor: default !important; }


/* Icons
----------------------------------*/

/* states and images */
.ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }


/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

/*
 * jQuery UI Slider 1.8.17
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Slider#theming
 */
.ui-slider { position: relative; text-align: left; }
.ui-slider .ui-slider-handle { position: absolute; z-index: 2; width: 1.2em; height: 1.2em; cursor: default; }
.ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; background-position: 0 0; }

.ui-slider-horizontal { height: .8em; }
.ui-slider-horizontal .ui-slider-handle { top: -.3em; margin-left: -.6em; }
.ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }
.ui-slider-horizontal .ui-slider-range-min { left: 0; }
.ui-slider-horizontal .ui-slider-range-max { right: 0; }

.ui-slider-vertical { width: .8em; height: 100px; }
.ui-slider-vertical .ui-slider-handle { left: -.3em; margin-left: 0; margin-bottom: -.6em; }
.ui-slider-vertical .ui-slider-range { left: 0; width: 100%; }
.ui-slider-vertical .ui-slider-range-min { bottom: 0; }
.ui-slider-vertical .ui-slider-range-max { top: 0; }


/* customer after styles for slider and search pages */

.slide_area .ui-widget-content {
    border: 1px solid #e3e3e3 !important;
}
.ui-slider-handle {
    background-image: none !important;
    background-color: #3d74a7 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    border-width: 0 !important;
    color: white !important;
    font-size: 14px;
    font-weight: bold !important;
    height: 22px !important;
    letter-spacing: -1px;
    line-height: 21px;
    margin-left: -1px !important;
    margin-top: -4px;
    padding: 0 7px;
    text-decoration: none;
    width: auto !important;
}

#condition .ui-slider-handle {
    background-color: #79a145 !important;
}
#distance .ui-slider-handle {
    background-color: #515151 !important;
}
.ui-slider-handle:focus {
    outline: none;
}
.ui-slider-horizontal {
    background: white url(../img/background.png) repeat-x 0 -408px;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    height: 8px;
}
#slider {
    margin-top: -6px;
    padding-bottom: 40px;
    width: 256px;
}
#slider.search {
    padding-top: 39px;
    padding-bottom: 33px;
    width: 250px;
}
#slider.search label {
    color: #636363;
    font-size: 14px;
    font-weight: bold;
    height: 20px;
    letter-spacing: -1px;
}
#slider.search label span {
    color: #ababab;
    font-weight: normal;
    padding-left: 1px;
}
#slider.search label.distance {
    margin-top: 24px;
}




#slider h1 {
    margin-bottom: 10px;
}
#slider .floatLeft {
    width: 120px;
}

#slider .floatLeft.first-child {
    margin-right: 16px;
}

#slider .condition, #slider .distance {
    margin-top: 23px;
}

#maximum a.fixlast {
    right: 0 !important;
    margin-right: -1px;
}

#condition a.fix0 {
    left: 0% !important;
}

#condition a.fix40 {
    left: 40% !important;    
}

#condition a.fix82 {
    left: 82% !important;
    right: 0 !important;
    margin-right: -1px;
}

#distance a.fix69 {
    left: 69% !important;
    right: 0 !important;
    margin-right: -1px;
}
#min_max {
    background: #f5f5f5;
    border: 1px solid #dcdcdc !important;
    border-top-width: 2px !important;
    border-left: none !important;
    border-right: none !important;
    height: 7px;
}
#min_max .ui-widget-header {
    background: #3d794b;
    border-top: 1px solid #33653e;
    border-bottom: 1px solid #2a5434;
    margin-top: -1px;
}
#min_max .ui-widget-header:before {
    background-color: #2a5434;
    content: '';
    display: block;
    height: 1px;
    margin-top: -2px;
    position: absolute;
    width: 100%;
}
#min_max .ui-slider-handle,
#radius .ui-slider-handle {
    background: url('../img/icon-set-4.png?v=20120504') no-repeat 0 0 !important;
    border: none;
    height: 18px !important;
    margin-top: -2px;
    width: 21px !important;
}
table.slide_area {
    border-collapse: collapse;
    clear: left;
    width: 100%;
}
table.slide_area td {
    margin: 0;
    padding: 0;
}
table.slide_area td {
    padding-top: 8px;
}
table.slide_area td.info {
    padding-top: 0;
    width: 1px;
}
table.slide_area td.info.faux_end {
    background: url('../img/search-sprite.png?v=20120504') repeat-x 100% -194px;
    width: 19px;
}
.slide_area .indicator {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #757575;
    cursor: default;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    height: 25px;
    letter-spacing: -1px;
    line-height: 1;
    min-width: 55px;
    padding: 0;
    white-space: nowrap;
    z-index: 2;
}
.slide_area .indicator.left {
    background: url('../img/search-sprite.png?v=20120504') repeat-x 100% -122px;
    border-left: 1px solid #dedede;
    padding: 0 19px 0 5px;
}
.slide_area .indicator.right {
    background: url('../img/search-sprite.png?v=20120504') repeat-x 0% -162px;
    border-right: 1px solid #dedede;
    min-width: 74px;
    padding: 0 8px 0 38px;
    text-align: right;
}
.slide_area .indicator .map_icon {
    background: url('../img/icon-set-4.png?v=20120504') no-repeat 0 -40px !important;
    display: inline-block;
    height: 14px;
    margin-left: -1px;
    margin-top: 5px;
    vertical-align: bottom;
    width: 11px;
}
.slide_area .indicator span.value {
    display: inline-block;
    padding-top: 5px;
}
.slide_area .indicator div.editable {
    display: inline-block;
    outline: none;
}
#radius {
    background: #f5f5f5;
    border: 1px solid #dcdcdc !important;
    border-top-width: 2px !important;
    border-right: none !important;
    height: 7px;
    margin: 0;
}
#radius .ui-widget-header {
    background: #4586c1;
    border-top: 1px solid #396fa0;
    border-bottom: 1px solid #3d74a8;
    border-left: 1px solid #3d74a8;
    margin-top: -1px;
    margin-left: -1px;
}
#radius .ui-widget-header:before {
    background-color: #3d74a8;
    content: '';
    display: block;
    height: 1px;
    margin-top: -2px;
    margin-left: -1px;
    position: absolute;
    width: 100%;
}
