#notification {
	position: fixed;
	z-index: 50;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
	color: #fff;
	font-size: 16px;
	&.info {
		background: #FFD700;
		color: #000;
	}
	&.success{
		background: #358f26;
	}
	&.warning,
	&.error{
		background: #b5461f;
	}
	> div {
		padding: 10px;
	}
}
