#profile {
	width: $site-width;
	margin: 0 auto;
	position: relative;
	.seller_background_image {
		height: 166px;
		overflow: hidden;
		img {
			@extend .transition-all-05;
		}
	}
	.uploader {
		display: block;
		opacity: 0;
		position: absolute;
		text-align: center;
		top: 64px;
		width: 100%;
		.button {
			position: relative;
			overflow: hidden;
			cursor: pointer;
			input {
				position: absolute;
				right: 0;
				top: 0;
				opacity: 0;
				cursor: pointer;
			}
			border-width: 0;
			display: inline-block;
			font-size: 16px;
			font-weight: bold;
			margin-top: 1px;
			text-align: center;
			text-decoration: none;
			padding: 5px;
			width: 110px;
		}
	}
	.seller_photo:hover,
	.seller_background_image:hover {
		.uploader {
			display: block;
			opacity: 1;
		}
		img.user {
			opacity: 0.3;
		}
	}
	.seller_row {
		background-color: #fff;
		border-bottom: 10px solid $faint-grey;
		color: $dark-text;
		font-size: 12px;
		font-weight: normal;
		height: 103px;
		padding-top: 17px;
	}
	.seller_photo {
		background-color: white;
		float: left;
		height: 142px;
		margin-left: 19px;
		margin-top: -62px;
		overflow: hidden;
		position: relative;
		text-align: center;
		width: 147px;
		img {
			@extend .transition-all-05;
		}
	}
	.seller_info {
		float: left;
		line-height: 20px;
		margin-right: 16px;
		margin-left: 16px;
		margin-top: -2px;
		strong {
			a {
				background: url('../images/seller-sprite.png?v=20120422') no-repeat 0 4px;
				color: $mid-grey;
				display: inline-block;
				font-size: 14px;
				font-weight: bold;
				height: 16px;
				margin-left: 5px;
				padding: 0 0 0 13px;
				text-decoration: none;
				&:hover {
					color: $link-blue;
				}
			}
		}
		span {
			background: url('../images/seller-sprite.png?v=20120422') no-repeat 4px -36px;
			color: $dark-grey;
			display: inline-block;
			height: 16px;
			padding: 0 5px 0 7px;
			text-indent: -9000px;
		}
		a {
			color: $dark-grey;
			text-decoration: none;
			&:hover {
				color: $link-blue;
			}
			&.seller {
				color: $link-blue;
				font-size: 22px;
				font-weight: bold;
				margin: 0 0 0 -1px;
				text-decoration: none;
				&:hover {
					color: $link-red;
				}
			}
		}
	}
	.seller_name a.seller:hover { color: $link-red; }
	.follow_area {
		float: right;
		margin-top: 1px;
	}
	.following.fbutton,
	.followers.fbutton {
		border: 1px solid white;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		color: $dark-grey;
		display: inline-block;
		float: left;
		font-size: 12px;
		font-weight: normal;
		height: 35px;
		margin-top: 1px;
		text-decoration: none;
	}
	.following.fbutton {
		padding-right: 15px;
		padding-left: 3px;
		&:hover {
			background-color: $faint-grey;
			border: 1px solid $light-grey;
			color: $link-blue;
		}
	}
	.following.fbutton span,
	.followers.fbutton span {
		display: inline-block;
		padding-bottom: 5px;
		vertical-align: bottom;
	}
	.followers.fbutton {
		margin-right: 15px;
	}
	.following.fbutton strong,
	.followers.fbutton strong {
		display: inline-block;
		font-size: 34px;
		font-weight: bold;
		letter-spacing: -2px;
		line-height: 1;
		margin: -2px 5px 0 0;
		vertical-align: bottom;
	}
	.followers.fbutton {
		margin-left: 5px;
		margin-right: 0;
		padding-right: 15px;
		padding-left: 3px;
		&:hover {
			background-color: $faint-grey;
			border: 1px solid $light-grey;
			color: $link-blue;
		}
	}
	.follow.fbutton {
		background-color: $link-blue;
		border-width: 0;
		color: #fff;
		display: inline-block;
		font-size: 18px;
		font-weight: bold;
		height: 35px;
		line-height: 34px;
		margin-top: 1px;
		text-align: center;
		text-decoration: none;
		padding: 0 12px;
		&.loading {
			background: #fff url(../img/loading.gif) no-repeat 10px 50%;
			padding-left: 40px;
			color: $light-grey;
			&:hover {
				background-color: #fff;
				color: $light-grey;
			}
		}
		span {
			display: none;
			&.tfollow {
				display: block;
			}
		}
		&.active {
			span {
				display: none;
				&.tfollowing {
					display: block;
				}
			}
			&:hover {
				background-color: $link-red;
				span {
					display: none;
					&.tunfollow {
						display: block;
					}
				}
			}
		}
	}
	.follow.fbutton:hover { background-color: #61bb7c }
	.follow.fbutton.unfollow:hover { background-color: #e55832 }
	.follow.fbutton.following:hover { background-color: #3F77AB }
	.seller_description {
		border: 1px solid white;
		clear: right;
		float: left;
		font-size: 16px;
		font-style: italic;
		line-height: 21px;
		margin: 6px 0 0 6px;
		padding: 12px 10px;
		position: relative;
		width: 680px;
		background-color: white;
		position: relative;
		&.hoverable:hover {
			border: 1px solid $faint-grey;
			box-shadow: 0 4px 11px rgba(0,0,0,0.07);
		}
		.edit_button_bg {
			background: url('../images/transparent-to-white.png') repeat-y 100% 0;
			display: none;
			height: 100%;
			position: absolute;
			right: 0;
			top: 0;
			width: 177px;
			z-index: 2;
		}
		.edit_button {
			background-color: $link-blue;
			color: #fff;
			display: none;
			font-size: 16px;
			font-style: normal;
			font-weight: bold;
			height: 27px;
			line-height: 26px;
			margin-top: -13px;
			padding: 0 15px;
			position: absolute;
			top: 50%;
			right: 12px;
			text-align: center;
			text-decoration: none;
			z-index: 3;
			&:hover {
				background-color: $blue-over;
			}
		}
		.edit {
			background-color: white;
			border: 1px solid $faint-grey;
			box-shadow: 0 4px 11px rgba(0,0,0,0.07);
			display: none;
			margin-bottom: 10px;
			margin-left: -18px;
			margin-top: -1px;
			padding: 18px 17px 16px 17px;
			position: absolute;
			top: 0;
			width: 100%;
			z-index: 50;
			&.active {
				display: block;
			}
			input,
			textarea {
				background-color: #fff;
				border: 1px solid $light-grey;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
				color: $dark-grey;
				font-size: 16px;
				font-style: italic;
				font-weight: normal;
				margin-top: 6px;
				padding: 9px 9px 10px 9px;
				width: 100%;
				-webkit-box-shadow: 0 2px 0 #eeeeee;
				-moz-box-shadow: 0 2px 0 #eeeeee;
				box-shadow: 0 2px 0 #eeeeee;
			}
			textarea { height: 105px }
			.buttons { 
				padding-top: 18px;
				padding-bottom: 4px;
			}
			.button {
				display: inline-block;
				font-size: 16px;
				font-style: normal;
				font-weight: bold;
				padding: 5px 10px 6px 10px;
				text-decoration: none;
			}
		}
		.button.cancel {
			margin-left: 10px;
		}
		&.hoverable:hover .edit_button { display: inline-block }
		&.hoverable:hover .edit_button_bg { display: block }
	}
}
