#product {
	color: $dark-text;
	#wrapper & {
		width: auto;
	}
	.header-wrapper {
		border-bottom: 1px solid #F0F0F0;
		box-shadow: 0 3px 3px #FAFAFA;
		padding-bottom: 30px;
	}
	.wrapper {
		width: $site-width;
		margin: 0 auto;
	}
	header {
		margin: 0 auto;
		width: $site-width;
		position: relative;
		@extend .clearfix;
		h1 {
			color: $link-blue;
			margin: 18px 0 14px;
		}
		ul {
			margin: 0;
			padding: 0;
			list-style-type: none;
			float: left;
			li {
				float: left;
				margin-left: 25px;
				&:first-child {
					margin-left: 0;
				}
				a {
					text-decoration: none;
					color: $dark-text;
					&:hover {
						color: $link-blue;
					}
					span {
						@extend .text-icon;
						margin-right: 3px;
						font-size: 20px;
						vertical-align: middle;
					}
				}
			}
		}
		.location {
			margin: 0;
			float: right;
			font-weight: bold;
			span {
				@extend .text-icon;
				margin-right: 3px;
				font-size: 20px;
				vertical-align: middle;
			}
			i {
				font-style: normal;
				font-weight: 500;
				color: $mid-grey;
			}
		}
	}
	.gallery-wrapper {
		width: 640px;
		height: 320px;
		overflow: hidden;
		span.icon-resize-full {
			display: inline;
		}
		span.icon-resize-small {
			display: none;
		}
		&.fullscreen {
			width: 100%;
			height: 100%;
			span.icon-resize-full {
				display: none;
			}
			span.icon-resize-small {
				display: inline;
			}
		}
		float: left;
		position: relative;
		background: #fff url(../img/loading.gif) no-repeat 50%;
		> div {
			background: #000;
			text-align: center;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
		}
		iframe {
			border: 0;
		}
		> p {
			margin: 0;
			position: absolute;
			z-index: 10;
			top: 10px;
			right: 10px;
			background: #ccc;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
			opacity: 0.4;
			a {
				color: $dark-text;
				&:hover {
					color: $link-blue;
				}
				font-size: 20px;
				text-decoration: none;
				padding: 3px 6px;
			}
			@extend .transition-all-05;
		}
		&:hover {
			> p {
				opacity: 1;
			}
		}
		ul {
			margin: 0;
			padding: 0;
			list-style-type: none;
			position: absolute;
			left: 0;
			top: 50%;
			width: 100%;
			z-index: 9;
			li {
				position: absolute;
				top: 0;
				right: 10px;
				margin-top: -30px;
				&:first-child {
					left: 10px;
					right: auto;
				}
				a {
					color: #fff;
					font-size: 50px;
					text-decoration: none;
					&:hover {
						color: $link-blue;
					}
				}
			}
			@extend .transition-all-05;
			opacity: 0.4;
			&:hover {
				opacity: 1;
			}
		}
	}
	.bidding {
		width: $site-width - 640 - 30; //width - gallery width - margin
		padding: 30px 0 0;
		float: right;
		min-height: 175px;
		form {
			@extend .clearfix;
			text-align: right;
			margin-bottom: 20px;
			white-space: nowrap;
			> span {
				margin-top: -8px;
				margin-right: 4px;
				font-size: 42px;
				letter-spacing: -2px;
				font-weight: bold;
				float: left;
				span {
				font-size: 16px;
				vertical-align: middle;
				}
			}
		}
		.bid {
			label {
				position: relative;
				span {
					position: absolute;
					top: -40px;
					left: 0;
					white-space: nowrap;
					padding: 5px;
					border: 1px solid $mid-grey;
					color: $mid-grey;
					display: none;
				}
				input {
					color: $mid-grey;
					font-size: 14px;
					vertical-align: middle;
					padding: 9px;
					height: 16px;
					width: 65px;
					border: 1px solid $light-grey;
					border-right: none;
					-webkit-box-shadow: 0 1px 0 #E5E5E5;
					-moz-box-shadow: 0 1px 0 #e5e5e5;
					box-shadow: 0 1px 0 #E5E5E5;
				}
			}
		}
		button {
			vertical-align: middle;
			span {
				padding: 6px 15px 0 12px;
				height: 28px;
			}
		}
		> p {
			&.bids {
				color: $link-blue;
				font-size: 18px;
				padding-bottom: 20px;
				margin: -15px 0 20px 0;
				border-bottom: 1px solid $light-grey;
				strong {
					font-size: 42px;
					vertical-align: -5px;
					margin-right: 5px;
				}
				a {
					color: $mid-grey;
					text-decoration: none;
					font-size: 12px;
					&:hover {
						color: $link-blue;
					}
				}
			}
			&.time {
				margin:0;
				font-size: 13px;
				color: $mid-grey;
				strong {
					display: block;
					color: $link-red;
					font-size: 20px;
					margin-bottom: 5px;
				}
			}
		}
	}
	.images {
		float: right;
		width: 295px;
		margin-top: 8px;
		overflow: hidden;
		ul {
			@extend .transition-all-05;
			margin: 0;
			padding: 0;
			min-height: 115px;
			list-style-type: none;
			@extend .clearfix;
			white-space: nowrap;
			position: relative;
			li {
				display: inline-block;
				padding: 10px;
				img {
					@extend .transition-all-05;
					cursor: pointer;
				}
				.active {
					margin: -6px;
					border: 1px solid;
				}
			}
		}
	}
	.info {
		clear: both;
		padding-top: 20px;
		@extend .clearfix;
		.profile,
		.shipping-payment {
			min-height: 120px;
			padding: 20px;
			border: 1px solid $faint-grey;
		}
		.profile {
			width: 217px;
			float: left;
			a:first-child {
				float: left;
				margin-right: 10px;
			}
			a {
				color: $link-blue;
				text-decoration: none;
				&:hover {
					color: $link-red;
				}
			}
			p {
				margin: 5px 0 0;
				font-size: 12px;
			}
			.graph {
				margin-top: 5px;
				display: inline-block;
				width: 115px;
				background: $link-red;
				span {
					display: block;
					height: 15px;
					background: $green;
				}
			}
			button {
				float: left;
				clear: left;
				margin-top: 10px;
			}
		}
		.shipping-payment {
			float: right;
			h1 {
				color: $link-blue;
				font-size: 16px;
				margin: -4px 0 20px 0;
			}
			> div {
				float: left;
			}
			.shipping {
				width: 345px;
				margin-right: 25px;
				ul {
					color: $dark-grey;
					margin: 0;
					padding: 0;
					list-style-type: none;
					@extend .clearfix;
					li {
						float: left;
						margin-left: 10px;
						&:first-child {
							margin-left: 0;
						}
						b {
							font-size: 28px;
							vertical-align: -4px;
							line-height: 38px;
							color: $dark-text;
						}
						i {
							font-style: normal;
							color: $mid-grey;
						}
					}
				}
			}
			.payment {
				width: 260px;
				ul {
					color: $mid-grey;
					margin: 0;
					padding: 0;
					list-style-type: none;
					li {
						padding: 0 0 6px 0;
					}
				}
			}
		}
		.description {
			clear: both;
			padding-top: 20px;
			ul {
				margin: 0 0 10px 0;
				padding: 0;
				list-style-type: none;
				border-bottom: 1px solid $faint-grey;
				@extend .clearfix;
				li {
					float: left;
					border: 1px solid $faint-grey;
					border-bottom-color: #fff;
					position: relative;
					bottom: -1px;
					padding: 10px 15px 20px;
				}
			}
			iframe {
				border: 0;
				width: 100%;
				height: 300px;
			}
		}
	}
	.relationship {
		position: fixed;
		z-index: 999;
		bottom: 0;
		left: 0;
		width: 100%;
		background: $darkest-grey;
		-webkit-box-shadow: 0 -1px 13px rgba(0, 0, 0, 0.55);
		-moz-box-shadow: 0 -1px 13px rgba(0,0,0,0.55);
		box-shadow: 0 -1px 13px rgba(0, 0, 0, 0.55);
		> div {
			padding: 11px 15px;
			color: #fff;
			text-align: center;
			font-size: 28px;
			font-weight: normal;
			letter-spacing: -2px;
			strong {
				font-size: 36px;
				margin-right: 15px;
			}
			button {
				position: static;
				background-color: #FEEB4F;
				color: $darkest-grey;
				margin-left: 110px;
				font-size: 28px;
				border: 0;
				span {
					padding: 9px 17px;
				}
				&:hover {
					background-color: $link-blue;
					color: #fff;
				}
			}
		}
		button {
			position: absolute;
			right: 7px;
			top: 7px;
		}
	}
}
