#search {
	margin-left: 280px;
	border-left: 1px solid $faint-grey;
	#tag-page & {
		border-left: 0;
	}
	> p {
		font-size: 22px;
		color: $link-blue;
		margin: 0;
		padding: 20px;
		background: #fff;
		position: relative;
		left: -1px;
	}
	nav {
		#tag-page & {
			display: none;
		}
		ul {
			margin: 0;
			padding: 20px 0 0 20px;
			list-style-type: none;
			border-bottom: 1px solid $faint-grey;
			@extend .clearfix;
			li {
				float: left;
				a {
					padding: 10px 10px 20px;
					display: block;
					text-decoration: none;
					color: $mid-grey;
					position: relative;
					border: 1px solid #fff;
					&:hover {
						color: $link-blue;
					}
				}
			}
			&.all .all a,
			&.auction .auction a,
			&.fixedprice .fixed a {
				bottom: -1px;
				border-color: $faint-grey;
				border-bottom-color: #fff;
			}
		}
		position: relative;
		> div {
			color: $dark-text;
			position: absolute;
			top: 30px;
			right: 0;
			select {
				margin: 0 10px 0 5px;
			}
			p {
				display: inline;
			}
		}
	}
	> ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		&.loading {
			padding-bottom: 50px;
			background: url(../img/spinner.gif) no-repeat 50% 100%;
		}
		li {
			a {
				display: block;
				position: relative;
				margin: 0;
				padding: 30px 0 30px 160px;
				#tag-page & {
					padding-left: 130px;
				}
				min-height: 100px;
				border-bottom: 1px solid #ebebeb;
				color: #4a4a4a;
				text-decoration: none;
				&:hover {
					background: #eee;
				}
				> img {
					position: absolute;
					top: 30px;
					left: 30px;
					#tag-page & {
						left: 0;
					}
					width: 100px;
					height: 100px;
				}
				> p {
					margin: 0;
					float: left;
					padding: 7px 0 0 5px;
					font-size: 12px;
					letter-spacing: -1px;
				}
				h1 {
					font-size: 16px;
					margin: 0;
					color: $link-blue;
				}
				&:hover h1 {
					color: $link-red;
				}
				.price {
					font-size: 34px;
					letter-spacing: -3px;
					font-weight: bold;
					span {
						font-size: 16px;
						vertical-align: 6px;
						letter-spacing: 0;
					}
					float: left;
				}
				.time {
					color: #000;
					clear: both;
				}
				&:hover .time {
					color: $link-red;
				}
			}
		}
	}
}
