#tags {
	padding: 20px 0;
	text-align: center;
	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
		font-size: 16px;
		li {
			display: inline-block;
			margin-right: 20px;
			line-height: 50px;
			color: $link-blue;
			font-weight: bold;
			a {
				background: #fff;
				color: $dark-grey;
				border: 1px solid $light-grey;
				border-bottom-width: 2px;
				padding: 6px 9px;
				margin-right: 3px;
				font-weight: normal;
				text-decoration: none;
				&:hover {
					background: $link-blue;
					color: #fff;
				}
			}
		}
	}
}
