#tag {
	width: $site-width;
	margin: 0 auto;
	position: relative;
	padding: 20px 0;
	border-bottom: 4px solid #ececec;
	h1 {
		margin: 0;
		padding: 0;
		font-size: 16px;
		background: $link-blue;
		color: #fff;
		padding: 6px 9px;
		display: inline-block;
	}
}
