#overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
	.bg {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #000;
		z-index: 1001;
	}
	.cnt {
		z-index: 1002;
		background: #fff;
		color: $dark-text;
		position: absolute;
		margin: 20px 0 0 -90px;
		padding: 20px;
		-moz-transition: height 0.5s;
		-webkit-transition: height 2s;
		-ms-transition: height 0.5s;
		-o-transition: height 0.5s;
		transition: height 2s;
		&:before {
			border-left: 14px solid transparent;
			border-right: 14px solid transparent;
			border-bottom: 15px solid white;
			content: '';
			height: 0;
			left: 40%;
			position: absolute;
			top: -15px;
			width: 0;
		}
		&.left {
			margin-left: 0;
			&:before {
				left: 10%;
			}
		}
		&.right {
			margin-left: -190px;
			&:before {
				left: 70%;
			}
		}
		&.fixed {
			padding: 24px 24px 26px;
			-webkit-box-shadow: 0 0 30px #000;
			box-shadow: 0 0 30px #000;
			&:before {
				display: none;
			}
			/*width: 750px;*/
			margin: 0;
			position: fixed;
			header,
			h1 {
				color: $link-blue;
				font-size: 24px;
				background: $faint-grey;
				border-bottom: 1px solid $light-grey;
				margin: 0;
				padding: 20px;
				margin: -24px -24px 17px;
			}
			a.close {
				right: 20px;
				top: 20px;
			}
			overflow: auto;
		}
		a.eclose,
		a.close {
			position: absolute;
			padding: 5px;
			font-size: 18px;
			text-decoration: none;
			right: 10px;
			top: 10px;
			color: $mid-grey;
			border-radius: 18px;
			line-height: 1;
			height: 18px;
			width: 19px;
			text-align: center;
			&:hover {
				color: #fff;
				background: $link-red;
			}
		}
		a.eclose {
			text-indent: 0;
			color: #fff;
			&:hover {
				background: transparent;
			}
		}
		form {
			&.loading {
				display: block;
				& button[type=submit] {
					background: $faint-grey url(../images/loading.gif) no-repeat 4px 50%;
					border-color: $mid-grey;
					color: $mid-grey;
					span {
						padding-left: 35px !important;
					}
				}
			}
			position: relative;
			label {
				span {
					display: block;
					font-size: 16px;
					font-weight: bold;
				}
				textarea {
					width: 669px;
					height: 76px;
					border: 1px solid $faint-grey;
					padding: 10px;
					margin: 12px 0 30px;
				}
			}
			button[type=submit],
			button[type=reset] {
				span {
					font-size: 22px;
					padding: 3px 15px 5px 12px;
				}
			}
			> p {
				display: none;
				position: absolute;
				top: -17px;
				left: 0;
				width: 100%;
				margin: 0 0 10px;
				padding: 10px 0;
				text-indent: 5px;
				font-size: 18px;
				font-weight: bold;
				&.error {
					display: block;
					background: $bright-red;
					color: #fff;
					&:before {
						font-size: 40px;
						vertical-align: -9px;
						margin: 7px 10px 7px 0;
					}
				}
			}
			fieldset {
				border: 0;
				margin: 0;
				padding: 0;
				&.options {
					color: $dark-text;
					line-height: 40px;
					p {
						margin: 0;
						display: inline;
						font-size: 34px;
						font-weight: bold;
						span {
							font-size: 20px;
							vertical-align: 4px;
						}
					}
					label {
						vertical-align: 6px;
						margin-left: 15px;
						color: $dark-grey;
						select {
							margin-left: 5px;
						}
					}
				}
				&.submit {
					background: $faint-grey;
					border: 1px solid $light-grey;
					padding: 15px;
					margin-top: 15px;
					text-align: right;
					@extend .clearfix;
					p {
						float: left;
						color: $dark-grey;
						font-size: 13px;
						margin: 5px 0 0;
						text-align: left;
					}
				}
			}
		}
		.login {
			white-space: nowrap;
			p {
				margin: 15px 0 0;
				&:first-child {
					margin-top: 0;
					padding-right: 30px;
				}
				font-size: 16px;
				font-weight: bold;
				&.buttons {
					font-size: 22px;
					> i {
						color: $mid-grey;
						font-weight: normal;
						padding: 0 15px 0 10px;
					}
					button span {
						font-size: 22px;
						padding: 9px 16px 8px;
					}
				}
			}
		}
		form {
		}
		.bid,
		.bin {
			width: 450px;
			.submit p {
				width: 330px;
			}
		}
		.contact,
		.report {
			width: 695px;
			textarea {
				font-size: 22px;
				width: 673px;
			}
			button span {
				padding: 8px 17px 9px;
			}
		}
		.share {
			width: 695px;
			form {
				textarea {
					font-size: 22px;
				}
				> div {
					@extend .clearfix;
					img {
						float: left;
						margin: 0 20px 15px 0;
					}
					strong {
						color: $link-blue;
						font-size: 18px;
					}
					a {
						line-height: 2;
						color: $dark-text;
						text-decoration: none;
						&:hover {
							color: $link-blue;
						}
					}
				}
				button {
					span {
						padding: 9px 16px 8px;
					}
				}
				fieldset {
					text-align: right;
					div {
						float: left;
						text-align: left;
						white-space: nowrap;
						font-size: 14px;
						color: $light-grey;
						line-height: 40px;
						strong {
							font-size: 18px;
							color: $mid-grey;
							margin-right: 4px;
						}
						a {
							@extend .text-icon;
							font-size: 40px;
							vertical-align: middle;
							margin-left: 4px;
							&.facebook {
								margin-left: 14px;
							}
							text-decoration: none;
							color: $light-grey;
							&:hover {
								color: $mid-grey;
							}
							&.selected {
								color: $link-red;
							}
						}
					}
				}
			}
		}
		.bids {
			width: 650px;
			p {
				color: $link-blue;
				font-size: 18px;
				padding: 0 0 20px;
				margin: 20px 0;
				border-bottom: 9px solid $link-blue;
				strong {
					font-size: 42px;
					vertical-align: -5px;
				}
				span {
					font-size: 20px;
					font-weight: bold;
					color: $link-red;
					margin-left: 46px;
				}
				i {
					font-style: normal;
					font-size: 13px;
					color: $mid-grey;
					margin-left: 11px;
				}
			}
			table {
				width: 100%;
				th {
					border-bottom: 1px solid $light-grey;
					color: $dark-text;
					cursor: pointer;
					font-size: 16px;
					font-weight: bold;
					padding: 0 0 13px 0;
					text-align: left;
				}
				td {
					border-bottom: 1px solid $faint-grey;
					font-size: 12px;
					padding: 12px 0 11px 0;
					vertical-align: top;
					&.bidder {
						line-height: 22px;
						padding-top: 12px;
						width: 40%;
					}
					&.bid {
						color: $dark-text;
						font-size: 20px;
						font-weight: bold;
						width: 15%;
						span {
							display: inline-block;
							font-size: 12px;
							padding-top: 2px;
							padding-right: 1px;
							vertical-align: 2px;
						}
					}
					&.time_left {
						color: $mid-grey;
						font-size: 14px;
						line-height: 22px;
						padding-top: 12px;
						width: 45%;
					}
					a {
						color: $link-blue;
						&:hover {
							color: $link-red;
						}
						font-size: 14px;
						font-weight: bold;
						line-height: 15px;
						padding-right: 9px;
						text-decoration: none;
					}
				}
			}
		}
		.feedback {
			width: 695px;
			min-height: 400px;
			header {
				ul {
					list-style-type: none;
					margin: -9px 0 -21px -9px;
					padding: 0;
					@extend .clearfix;
					li {
						float: left;
						a {
							display: block;
							background: url(http://dl.dropbox.com/u/24369602/epek/images/seller-sprite.png) no-repeat;
							font-size: 24px;
							font-weight: bold;
							height: 39px;
							letter-spacing: -2px;
							line-height: 1;
							padding: 16px 22px 0 56px;
							text-decoration: none;
							color: #bdbdbd;
							&.selected {
								background-color: #fff;
								border: 1px solid $light-grey;
								border-bottom: 0;
								color: $link-blue;
							}
						}
						&.r4 a {
							background-position: 12px -169px;
							&.selected {
								background-position: 12px -99px;
							}
						}
						&.r3 a {
							background-position: 12px -309px;
							&.selected {
								background-position: 12px -239px;
							}
						}
						&.r2 a {
							background-position: 12px -449px;
							&.selected {
								background-position: 12px -379px;
							}
						}
						&.r1 a {
							background-position: 12px -589px;
							&.selected {
								background-position: 12px -519px;
							}
						}
					}
				}
			}
			> div {
				display: none;
				padding: 0 0 1px;
				&.selected {
					display: block;
				}
				ul {
					list-style-type: none;
					margin: 0;
					padding: 0;
					li {
						border-top: 1px solid $faint-grey;
						padding: 20px 0;
						&:first-child {
							border-top: 0;
							padding-top: 0;
						}
						a {
							text-decoration: none;
							color: $link-blue;
							&:hover {
								color: $link-red;
							}
							img {
								vertical-align: middle;
								margin-right: 4px;
							}
						}
						p {
							margin: 10px 0 0;
							font-weight: normal;
							line-height: 20px;
							color: $mid-grey;
						}
						strong {
							color: $dark-grey;
							font-size: 12px;
						}
					}
				}
			}
		}
		.following,
		.followers {
			width: 695px;
			ul {
				margin: 0;
				padding: 0;
				list-style-type: none;
				li {
					margin: 0;
					padding: 10px 0 0;
					&:first-child {
						padding-top: 0;
					}
					@extend .clearfix;
					img {
						float: left;
						margin: 0 10px 0 0;
					}
					a {
						color: $link-blue;
						&:hover {
							color: $link-red;
						}
						font-size: 18px;
						font-weight: bold;
						text-decoration: none;
					}
					p {
						color: $mid-grey;
						font-weight: normal;
						font-size: 14px;
						margin: 5px 0 0;
					}
				}
			}
		}
	}
	.button,
	button {
		background: $blue;
		&:hover {
			background: $blue-over;
		}
		border: 1px solid $blue-border;
		color: #fff;
		font-size: 18px;
		font-weight: bold;
		font-spacing: -1px;
		margin: 0;
		padding: 0;
		span {
			border-top: $blue-inset;
			display: block;
			padding: 4px;
			letter-spacing: -1px;
		}
		&.cancel,
		&[type=reset] {
			background: #fff;
			color: $mid-grey;
			border-color: $light-grey;
			margin-left: 10px;
			&:hover {
				color: $link-blue;
			}
		}
		&.icon span {
			padding: 0;
			font-weight: normal;
			text-shadow: 1px 1px 1px #333;
			filter: dropshadow(color=#333, offx=1, offy=1);
			font-family: "FontAwesome";
			font-size: 28px;
		}
	}
	table {
	    border-collapse: collapse;
	    border-spacing: 0;
	}
	td { vertical-align: top }

	input.editable {
		width: 10px;
		border: 0;
		margin: 0;
		padding: 0;
		color: #757575;
		font-size: 14px;
		font-weight: bold;
		letter-spacing: -1px;
		background: transparent;
		outline: 0;
		.indicator.right & {
			text-align: right;
		}
	}
}
