$site-width: 965px;
$link-blue: #3D74A7;
$link-grey: #A7A7A7;
$link-red: #BA4105;
$bright-red: #EB401A;
$sell-green: #899D82;
$darkest-grey: #2b2b2b;
$dark-grey: #585858;
$mid-grey: #868686;
$light-grey: #dcdcdc;
$faint-grey: #ececec;
$dark-text: #4a4a4a;
$blue: #369;
$blue-over: #3D92D4;
$blue-border: #366793;
$blue-inset: #4e94d6;
$green: #80B65F;
