.seller_name_description {
    background: transparent url(../images/background-black-60-percent-alpha.png) repeat 0 0;
}

.seller_name .star {
    line-height: 12px;
}

.seller_photo:hover img {
    filter:alpha(opacity=30);
}

.seller_photo .option {
    filter:alpha(opacity=0);
}

.seller_photo:hover .option {
    filter:alpha(opacity=100);
}

#content.sell section.step.image_upload a:hover img,
#content.sell section.step.video_upload a:hover img {
    filter:alpha(opacity=35);
}

#content.sell section.step.payment .credit_box .image {
    filter:alpha(opacity=30);
}

#content.sell section.step.payment .credit_box.selected .image {
   filter:alpha(opacity=100);
}

#content.sell section.step.payment .credit_box.selected:hover .image {
    filter:alpha(opacity=30);
}

#content.sell section.step.video_upload ul.video_upload .delete {
    filter:alpha(opacity=0);
}

#content.sell section.step.video_upload ul.video_upload a:hover .delete {
    filter:alpha(opacity=100);
}

#content.sell section.step.video_upload a.button.floatLeft,
#content.sell section.step.image_upload a.button.floatLeft {
    margin-bottom: 30px;
}

#content.sell #form_desc_cond {
    height: 59px;
}

#menu.sell li span {
    margin-right: 10px;
    padding-left: 7px;     
}

#content.community .question h1 a {
    letter-spacing: -2px;
}

#content.seller_invoice section#account section.summary p.summary {
    letter-spacing: 0;
}

#content.seller_invoice #account_activity th ul {
    margin-left: 30px;
    margin-bottom: -5px;
}

#menu.message #searchMessage .text {
    box-sizing: content-box;
    height: 18px;
    padding-top: 7px;
    padding-bottom: 5px;
}