.seller_name .star {
    display: inline;
    line-height: 10px;
    padding-right: 2px;
}

.seller_photo .option {
    left: 0;
}

#content.sell a.button span,
#content.sell a.skip span {
    vertical-align: middle !important;
}

#content.sell section.step.video_upload a.button.floatLeft,
#content.sell section.step.image_upload a.button.floatLeft {
    margin-bottom: 0;
}

#menu.sell li {
    zoom: 1;
}

#content.sell #form_desc_loca {
    margin-left: -20px;
}

#content.sell section.step .form_ship_3 {
    margin-left: 50px;
}

#main.about #content hgroup {
    margin-top: 62px;
}

.help article.result {
    padding-top: 24px;
}

#main.signout #content .item p.price {
    line-height: 34px;
    margin-top: -16px;
}

#main.signout #content .item p.price span {
    vertical-align: middle;
}

#content.sell .social a .icon {
    vertical-align: middle;
}

#content.seller_setup .floatLeft.space input {
    margin-left: -30px;
}

#content.seller_setup section.step.two.b {
    border-left: 1px solid #f0f0f0;
}

#content.seller_setup aside.note {
    margin-top: 41px;
}

#content.community .question_controls_amd_textarea .controls {
    padding-right: 6px;
}

#content.community .question_controls_amd_textarea textarea {
    margin-top: -1px;
}

#content.community #form_comm_ask_tags {
    padding-top: 18px;
}

#content.community .tags_div .tags li span {
    margin-top: 4px;
}

#content.community nav h1 .icon {
    vertical-align: middle;
}

#content.community nav li {
    display: inline;
}

#content.community nav li.special {
    overflow: hidden;
    width: 141px;
}

#content.community aside {
    border-left: none;
    padding-top: 30px;
}

#content.community .question .extra_info .button {
    padding-top: 0;
    padding-bottom: 7px;
    vertical-align: middle;
}

#content.community .question .extra_info .icon_vote,
#content.community .question .extra_info .icon_view,
#content.community .question .extra_info .icon_tag {
    vertical-align: middle;
}

#content.community .question .extra_info .icon_tag  {
    height: 19px;
}

#content.community aside li a span {
    padding-tom: 3px;
    padding-bottom: 8px;
    vertical-align: middle;
}

#content.community .questions_and_answers .question .info_bar p {
    padding-right: 80px;
    width: 295px;
}

#content.community .questions_and_answers .question .photo {
    position: absolute;
}

#content.community .questions_and_answers .answer .info_bar p {
    width: 450px;
}

#content.community .questions_and_answers .answers .info_bar .votes {
    line-height: 18px;
}

#content.seller_invoice nav#nav span.icon {
    display: block;
    float: left;
    padding-left: 10px;
}

#content.seller_invoice nav .icon.star {
    padding-top: 4px;
}

#content.seller_invoice section#account section.summary p.summary span.amount {
    line-height: 20px;
}

#content.seller_invoice #account .summary span.currency {
    display: block !important;
    float: left !important;
    margin-top: 3px !important;
}

#content.seller_invoice section#account section.summary p.summary.balance span.amount {
    line-height: 34px;
}

#content.seller_invoice #account_activity header span.icon.print {
    margin-left: 70px;
}

#content.seller_invoice #account_activity header select {
    margin-left: 20px;
}

#content.seller_invoice #account_activity th.last {
    padding-bottom: 5px;
    width: 286px;
}

#content.seller_invoice #account_activity th ul {
    margin-left: 0;
}

#main.message_open_mail span.icon.arrow {
    display: inline-block;
    padding-left: 0;
}

section#head.mail span.icon.activity, section#head.mail span.icon.account, section#head.mail span.icon.message {
    display: inline-block;
    padding-left: 7px;
}

section#head.mail span.icon.account {
    padding-left: 3px;
}

#main.message_open_mail .message_open_reply.new {
    margin-bottom: 0;
    padding-bottom: 15px;
}

nav#nav ul#optionNav .dropdown_menu {
    margin-left: -90px;
}

#main.message article.mail p.preview {
    display: block;
    width: 675px;
}

#content.message_pagination_bottom {
    margin-bottom: 0;
    padding-bottom: 50px;
}

#main.message #pagination {
    margin-top: 16px;
}

nav#nav ul#optionNav .dropdown_menu {
    margin-top: 35px;
}

#main.message span.checkbox span.icon.arrow {
    display: block;
}

#main.message li.last span.icon.arrow {
    display: inline-block;
}

#main.message article.mail div.head {
    height: auto;
}

#main.message article.mail {
    padding-bottom: 24px;
}

#main.message article.mail p.sender {
    padding-right: 3px;
}