#content.sell section.step.listing input.faux_radio.selected {
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#484848', endColorstr='#606060',GradientType=0 );
}

#content.sell #form_desc_cond {
    height: 62px;
}

#content.seller_setup select {
    padding-bottom: 14px;
}