/*  Font Awesome
    the iconic font designed for use with Twitter Bootstrap
    -------------------------------------------------------
    The full suite of pictographic icons, examples, and documentation
    can be found at: http://fortawesome.github.com/Font-Awesome/

    License
    -------------------------------------------------------
    The Font Awesome webfont, CSS, and LESS files are licensed under CC BY 3.0:
    http://creativecommons.org/licenses/by/3.0/ A mention of
    'Font Awesome - http://fortawesome.github.com/Font-Awesome' in human-readable
    source code is considered acceptable attribution (most common on the web).
    If human readable source code is not available to the end user, a mention in
    an 'About' or 'Credits' screen is considered acceptable (most common in desktop
    or mobile software).

    Contact
    -------------------------------------------------------
    Email: dave@davegandy.com
    Twitter: http://twitter.com/fortaweso_me
    Work: http://lemonwi.se co-founder

    */
@font-face {
  font-family: 'FontAwesome';
  src: url("../icons/fontawesome-webfont.eot");
  src: url("../icons/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("../icons/fontawesome-webfont.woff") format("woff"), url("../icons/fontawesome-webfont.ttf") format("truetype"), url("../icons/fontawesome-webfont.svgz#FontAwesomeRegular") format("svg"), url("../icons/fontawesome-webfont.svg#FontAwesomeRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

/* sprites.less reset */
[class^="icon-"], [class*=" icon-"] {
  display: inline;
  width: auto;
  height: auto;
  line-height: inherit;
  vertical-align: baseline;
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat; }

li[class^="icon-"], li[class*=" icon-"] {
  display: block; }

/*  Font Awesome styles
    ------------------------------------------------------- */
.text-icon, #overlay .cnt .share form fieldset div a {
  font-family: FontAwesome; }

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit; }

a [class^="icon-"], a [class*=" icon-"] {
  display: inline-block;
  text-decoration: inherit; }

/* makes the font 33% larger relative to the icon container */
.icon-large:before {
  vertical-align: top;
  font-size: 1.3333333333333333em; }

.btn [class^="icon-"], .btn [class*=" icon-"] {
  /* keeps button heights with and without icons the same */
  line-height: .9em; }

li [class^="icon-"], li [class*=" icon-"] {
  display: inline-block;
  width: 1.25em;
  text-align: center; }

li .icon-large[class^="icon-"], li .icon-large[class*=" icon-"] {
  /* 1.5 increased font size for icon-large * 1.25 width */
  width: 1.875em; }

li[class^="icon-"], li[class*=" icon-"] {
  margin-left: 0;
  list-style-type: none; }

li[class^="icon-"]:before, li[class*=" icon-"]:before {
  text-indent: -2em;
  text-align: center; }

li[class^="icon-"].icon-large:before, li[class*=" icon-"].icon-large:before {
  text-indent: -1.333em; }

/*  Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
    readers do not read off random characters that represent icons */
.icon-glass:before {
  content: "\f000"; }

.icon-music:before {
  content: "\f001"; }

.icon-search:before {
  content: "\f002"; }

.icon-envelope:before {
  content: "\f003"; }

.icon-heart:before {
  content: "\f004"; }

.icon-star:before {
  content: "\f005"; }

.icon-star-empty:before {
  content: "\f006"; }

.icon-user:before {
  content: "\f007"; }

.icon-film:before {
  content: "\f008"; }

.icon-th-large:before {
  content: "\f009"; }

.icon-th:before {
  content: "\f00a"; }

.icon-th-list:before {
  content: "\f00b"; }

.icon-ok:before {
  content: "\f00c"; }

.icon-remove:before {
  content: "\f00d"; }

.icon-zoom-in:before {
  content: "\f00e"; }

.icon-zoom-out:before {
  content: "\f010"; }

.icon-off:before {
  content: "\f011"; }

.icon-signal:before {
  content: "\f012"; }

.icon-cog:before {
  content: "\f013"; }

.icon-trash:before {
  content: "\f014"; }

.icon-home:before {
  content: "\f015"; }

.icon-file:before {
  content: "\f016"; }

.icon-time:before {
  content: "\f017"; }

.icon-road:before {
  content: "\f018"; }

.icon-download-alt:before {
  content: "\f019"; }

.icon-download:before {
  content: "\f01a"; }

.icon-upload:before {
  content: "\f01b"; }

.icon-inbox:before {
  content: "\f01c"; }

.icon-play-circle:before {
  content: "\f01d"; }

.icon-repeat:before {
  content: "\f01e"; }

/* \f020 is not a valid unicode character. all shifted one down */
.icon-refresh:before {
  content: "\f021"; }

.icon-list-alt:before {
  content: "\f022"; }

.icon-lock:before {
  content: "\f023"; }

.icon-flag:before {
  content: "\f024"; }

.icon-headphones:before {
  content: "\f025"; }

.icon-volume-off:before {
  content: "\f026"; }

.icon-volume-down:before {
  content: "\f027"; }

.icon-volume-up:before {
  content: "\f028"; }

.icon-qrcode:before {
  content: "\f029"; }

.icon-barcode:before {
  content: "\f02a"; }

.icon-tag:before {
  content: "\f02b"; }

.icon-tags:before {
  content: "\f02c"; }

.icon-book:before {
  content: "\f02d"; }

.icon-bookmark:before {
  content: "\f02e"; }

.icon-print:before {
  content: "\f02f"; }

.icon-camera:before {
  content: "\f030"; }

.icon-font:before {
  content: "\f031"; }

.icon-bold:before {
  content: "\f032"; }

.icon-italic:before {
  content: "\f033"; }

.icon-text-height:before {
  content: "\f034"; }

.icon-text-width:before {
  content: "\f035"; }

.icon-align-left:before {
  content: "\f036"; }

.icon-align-center:before {
  content: "\f037"; }

.icon-align-right:before {
  content: "\f038"; }

.icon-align-justify:before {
  content: "\f039"; }

.icon-list:before {
  content: "\f03a"; }

.icon-indent-left:before {
  content: "\f03b"; }

.icon-indent-right:before {
  content: "\f03c"; }

.icon-facetime-video:before {
  content: "\f03d"; }

.icon-picture:before {
  content: "\f03e"; }

.icon-pencil:before {
  content: "\f040"; }

.icon-map-marker:before {
  content: "\f041"; }

.icon-adjust:before {
  content: "\f042"; }

.icon-tint:before {
  content: "\f043"; }

.icon-edit:before {
  content: "\f044"; }

.icon-share:before {
  content: "\f045"; }

.icon-check:before {
  content: "\f046"; }

.icon-move:before {
  content: "\f047"; }

.icon-step-backward:before {
  content: "\f048"; }

.icon-fast-backward:before {
  content: "\f049"; }

.icon-backward:before {
  content: "\f04a"; }

.icon-play:before {
  content: "\f04b"; }

.icon-pause:before {
  content: "\f04c"; }

.icon-stop:before {
  content: "\f04d"; }

.icon-forward:before {
  content: "\f04e"; }

.icon-fast-forward:before {
  content: "\f050"; }

.icon-step-forward:before {
  content: "\f051"; }

.icon-eject:before {
  content: "\f052"; }

.icon-chevron-left:before {
  content: "\f053"; }

.icon-chevron-right:before {
  content: "\f054"; }

.icon-plus-sign:before {
  content: "\f055"; }

.icon-minus-sign:before {
  content: "\f056"; }

.icon-remove-sign:before {
  content: "\f057"; }

.icon-ok-sign:before {
  content: "\f058"; }

.icon-question-sign:before {
  content: "\f059"; }

.icon-info-sign:before {
  content: "\f05a"; }

.icon-screenshot:before {
  content: "\f05b"; }

.icon-remove-circle:before {
  content: "\f05c"; }

.icon-ok-circle:before {
  content: "\f05d"; }

.icon-ban-circle:before {
  content: "\f05e"; }

.icon-arrow-left:before {
  content: "\f060"; }

.icon-arrow-right:before {
  content: "\f061"; }

.icon-arrow-up:before {
  content: "\f062"; }

.icon-arrow-down:before {
  content: "\f063"; }

.icon-share-alt:before {
  content: "\f064"; }

.icon-resize-full:before {
  content: "\f065"; }

.icon-resize-small:before {
  content: "\f066"; }

.icon-plus:before {
  content: "\f067"; }

.icon-minus:before {
  content: "\f068"; }

.icon-asterisk:before {
  content: "\f069"; }

.icon-exclamation-sign:before {
  content: "\f06a"; }

.icon-gift:before {
  content: "\f06b"; }

.icon-leaf:before {
  content: "\f06c"; }

.icon-fire:before {
  content: "\f06d"; }

.icon-eye-open:before {
  content: "\f06e"; }

.icon-eye-close:before {
  content: "\f070"; }

.icon-warning-sign:before {
  content: "\f071"; }

.icon-plane:before {
  content: "\f072"; }

.icon-calendar:before {
  content: "\f073"; }

.icon-random:before {
  content: "\f074"; }

.icon-comment:before {
  content: "\f075"; }

.icon-magnet:before {
  content: "\f076"; }

.icon-chevron-up:before {
  content: "\f077"; }

.icon-chevron-down:before {
  content: "\f078"; }

.icon-retweet:before {
  content: "\f079"; }

.icon-shopping-cart:before {
  content: "\f07a"; }

.icon-folder-close:before {
  content: "\f07b"; }

.icon-folder-open:before {
  content: "\f07c"; }

.icon-resize-vertical:before {
  content: "\f07d"; }

.icon-resize-horizontal:before {
  content: "\f07e"; }

.icon-bar-chart:before {
  content: "\f080"; }

.icon-twitter-sign:before {
  content: "\f081"; }

.icon-facebook-sign:before {
  content: "\f082"; }

.icon-camera-retro:before {
  content: "\f083"; }

.icon-key:before {
  content: "\f084"; }

.icon-cogs:before {
  content: "\f085"; }

.icon-comments:before {
  content: "\f086"; }

.icon-thumbs-up:before {
  content: "\f087"; }

.icon-thumbs-down:before {
  content: "\f088"; }

.icon-star-half:before {
  content: "\f089"; }

.icon-heart-empty:before {
  content: "\f08a"; }

.icon-signout:before {
  content: "\f08b"; }

.icon-linkedin-sign:before {
  content: "\f08c"; }

.icon-pushpin:before {
  content: "\f08d"; }

.icon-external-link:before {
  content: "\f08e"; }

.icon-signin:before {
  content: "\f090"; }

.icon-trophy:before {
  content: "\f091"; }

.icon-github-sign:before {
  content: "\f092"; }

.icon-upload-alt:before {
  content: "\f093"; }

.icon-lemon:before {
  content: "\f094"; }

.ir {
  overflow: hidden;
  white-space: nowrap;
  text-indent: 100%; }

.clearfix:before, #overlay .cnt form fieldset.submit:before, #overlay .cnt .share form > div:before, #overlay .cnt .feedback header ul:before, #overlay .cnt .following ul li:before,
#overlay .cnt .followers ul li:before, .clearfix:after, #overlay .cnt form fieldset.submit:after, #overlay .cnt .share form > div:after, #overlay .cnt .feedback header ul:after, #overlay .cnt .following ul li:after,
#overlay .cnt .followers ul li:after {
  content: "";
  display: table; }

.clearfix:after, #overlay .cnt form fieldset.submit:after, #overlay .cnt .share form > div:after, #overlay .cnt .feedback header ul:after, #overlay .cnt .following ul li:after,
#overlay .cnt .followers ul li:after {
  clear: both; }

.clearfix, #overlay .cnt form fieldset.submit, #overlay .cnt .share form > div, #overlay .cnt .feedback header ul, #overlay .cnt .following ul li,
#overlay .cnt .followers ul li {
  *zoom: 1; }

/* forgive me, just for legacy code */
.floatLeft {
  float: left; }

.floatRight {
  float: right; }

.transition-all {
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s; }

.transition-all-05 {
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000; }
  #overlay .bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 1001; }
  #overlay .cnt {
    z-index: 1002;
    background: #fff;
    color: #4a4a4a;
    position: absolute;
    margin: 20px 0 0 -90px;
    padding: 20px;
    -moz-transition: height 0.5s;
    -webkit-transition: height 2s;
    -ms-transition: height 0.5s;
    -o-transition: height 0.5s;
    transition: height 2s; }
    #overlay .cnt:before {
      border-left: 14px solid transparent;
      border-right: 14px solid transparent;
      border-bottom: 15px solid white;
      content: '';
      height: 0;
      left: 40%;
      position: absolute;
      top: -15px;
      width: 0; }
    #overlay .cnt.left {
      margin-left: 0; }
      #overlay .cnt.left:before {
        left: 10%; }
    #overlay .cnt.right {
      margin-left: -190px; }
      #overlay .cnt.right:before {
        left: 70%; }
    #overlay .cnt.fixed {
      padding: 24px 24px 26px;
      -webkit-box-shadow: 0 0 30px #000;
      box-shadow: 0 0 30px #000;
      /*width: 750px;*/
      margin: 0;
      position: fixed;
      overflow: auto; }
      #overlay .cnt.fixed:before {
        display: none; }
      #overlay .cnt.fixed header,
      #overlay .cnt.fixed h1 {
        color: #3d74a7;
        font-size: 24px;
        background: #ececec;
        border-bottom: 1px solid #dcdcdc;
        margin: 0;
        padding: 20px;
        margin: -24px -24px 17px; }
      #overlay .cnt.fixed a.close {
        right: 20px;
        top: 20px; }
    #overlay .cnt a.eclose,
    #overlay .cnt a.close {
      position: absolute;
      padding: 5px;
      font-size: 18px;
      text-decoration: none;
      right: 10px;
      top: 10px;
      color: #868686;
      border-radius: 18px;
      line-height: 1;
      height: 18px;
      width: 19px;
      text-align: center; }
      #overlay .cnt a.eclose:hover,
      #overlay .cnt a.close:hover {
        color: #fff;
        background: #ba4105; }
    #overlay .cnt a.eclose {
      text-indent: 0;
      color: #fff; }
      #overlay .cnt a.eclose:hover {
        background: transparent; }
    #overlay .cnt form {
      position: relative; }
      #overlay .cnt form.loading {
        display: block; }
        #overlay .cnt form.loading button[type=submit] {
          background: #ececec url(../images/loading.gif) no-repeat 4px 50%;
          border-color: #868686;
          color: #868686; }
          #overlay .cnt form.loading button[type=submit] span {
            padding-left: 35px !important; }
      #overlay .cnt form label span {
        display: block;
        font-size: 16px;
        font-weight: bold; }
      #overlay .cnt form label textarea {
        width: 669px;
        height: 76px;
        border: 1px solid #ececec;
        padding: 10px;
        margin: 12px 0 30px; }
      #overlay .cnt form button[type=submit] span,
      #overlay .cnt form button[type=reset] span {
        font-size: 22px;
        padding: 3px 15px 5px 12px; }
      #overlay .cnt form > p {
        display: none;
        position: absolute;
        top: -17px;
        left: 0;
        width: 100%;
        margin: 0 0 10px;
        padding: 10px 0;
        text-indent: 5px;
        font-size: 18px;
        font-weight: bold; }
        #overlay .cnt form > p.error {
          display: block;
          background: #eb401a;
          color: #fff; }
          #overlay .cnt form > p.error:before {
            font-size: 40px;
            vertical-align: -9px;
            margin: 7px 10px 7px 0; }
      #overlay .cnt form fieldset {
        border: 0;
        margin: 0;
        padding: 0; }
        #overlay .cnt form fieldset.options {
          color: #4a4a4a;
          line-height: 40px; }
          #overlay .cnt form fieldset.options p {
            margin: 0;
            display: inline;
            font-size: 34px;
            font-weight: bold; }
            #overlay .cnt form fieldset.options p span {
              font-size: 20px;
              vertical-align: 4px; }
          #overlay .cnt form fieldset.options label {
            vertical-align: 6px;
            margin-left: 15px;
            color: #585858; }
            #overlay .cnt form fieldset.options label select {
              margin-left: 5px; }
        #overlay .cnt form fieldset.submit {
          background: #ececec;
          border: 1px solid #dcdcdc;
          padding: 15px;
          margin-top: 15px;
          text-align: right; }
          #overlay .cnt form fieldset.submit p {
            float: left;
            color: #585858;
            font-size: 13px;
            margin: 5px 0 0;
            text-align: left; }
    #overlay .cnt .login {
      white-space: nowrap; }
      #overlay .cnt .login p {
        margin: 15px 0 0;
        font-size: 16px;
        font-weight: bold; }
        #overlay .cnt .login p:first-child {
          margin-top: 0;
          padding-right: 30px; }
        #overlay .cnt .login p.buttons {
          font-size: 22px; }
          #overlay .cnt .login p.buttons > i {
            color: #868686;
            font-weight: normal;
            padding: 0 15px 0 10px; }
          #overlay .cnt .login p.buttons button span {
            font-size: 22px;
            padding: 9px 16px 8px; }
    #overlay .cnt .bid,
    #overlay .cnt .bin {
      width: 450px; }
      #overlay .cnt .bid .submit p,
      #overlay .cnt .bin .submit p {
        width: 330px; }
    #overlay .cnt .contact,
    #overlay .cnt .report {
      width: 695px; }
      #overlay .cnt .contact textarea,
      #overlay .cnt .report textarea {
        font-size: 22px;
        width: 673px; }
      #overlay .cnt .contact button span,
      #overlay .cnt .report button span {
        padding: 8px 17px 9px; }
    #overlay .cnt .share {
      width: 695px; }
      #overlay .cnt .share form textarea {
        font-size: 22px; }
      #overlay .cnt .share form > div img {
        float: left;
        margin: 0 20px 15px 0; }
      #overlay .cnt .share form > div strong {
        color: #3d74a7;
        font-size: 18px; }
      #overlay .cnt .share form > div a {
        line-height: 2;
        color: #4a4a4a;
        text-decoration: none; }
        #overlay .cnt .share form > div a:hover {
          color: #3d74a7; }
      #overlay .cnt .share form button span {
        padding: 9px 16px 8px; }
      #overlay .cnt .share form fieldset {
        text-align: right; }
        #overlay .cnt .share form fieldset div {
          float: left;
          text-align: left;
          white-space: nowrap;
          font-size: 14px;
          color: #dcdcdc;
          line-height: 40px; }
          #overlay .cnt .share form fieldset div strong {
            font-size: 18px;
            color: #868686;
            margin-right: 4px; }
          #overlay .cnt .share form fieldset div a {
            font-size: 40px;
            vertical-align: middle;
            margin-left: 4px;
            text-decoration: none;
            color: #dcdcdc; }
            #overlay .cnt .share form fieldset div a.facebook {
              margin-left: 14px; }
            #overlay .cnt .share form fieldset div a:hover {
              color: #868686; }
            #overlay .cnt .share form fieldset div a.selected {
              color: #ba4105; }
    #overlay .cnt .bids {
      width: 650px; }
      #overlay .cnt .bids p {
        color: #3d74a7;
        font-size: 18px;
        padding: 0 0 20px;
        margin: 20px 0;
        border-bottom: 9px solid #3d74a7; }
        #overlay .cnt .bids p strong {
          font-size: 42px;
          vertical-align: -5px; }
        #overlay .cnt .bids p span {
          font-size: 20px;
          font-weight: bold;
          color: #ba4105;
          margin-left: 46px; }
        #overlay .cnt .bids p i {
          font-style: normal;
          font-size: 13px;
          color: #868686;
          margin-left: 11px; }
      #overlay .cnt .bids table {
        width: 100%; }
        #overlay .cnt .bids table th {
          border-bottom: 1px solid #dcdcdc;
          color: #4a4a4a;
          cursor: pointer;
          font-size: 16px;
          font-weight: bold;
          padding: 0 0 13px 0;
          text-align: left; }
        #overlay .cnt .bids table td {
          border-bottom: 1px solid #ececec;
          font-size: 12px;
          padding: 12px 0 11px 0;
          vertical-align: top; }
          #overlay .cnt .bids table td.bidder {
            line-height: 22px;
            padding-top: 12px;
            width: 40%; }
          #overlay .cnt .bids table td.bid {
            color: #4a4a4a;
            font-size: 20px;
            font-weight: bold;
            width: 15%; }
            #overlay .cnt .bids table td.bid span {
              display: inline-block;
              font-size: 12px;
              padding-top: 2px;
              padding-right: 1px;
              vertical-align: 2px; }
          #overlay .cnt .bids table td.time_left {
            color: #868686;
            font-size: 14px;
            line-height: 22px;
            padding-top: 12px;
            width: 45%; }
          #overlay .cnt .bids table td a {
            color: #3d74a7;
            font-size: 14px;
            font-weight: bold;
            line-height: 15px;
            padding-right: 9px;
            text-decoration: none; }
            #overlay .cnt .bids table td a:hover {
              color: #ba4105; }
    #overlay .cnt .feedback {
      width: 695px;
      min-height: 400px; }
      #overlay .cnt .feedback header ul {
        list-style-type: none;
        margin: -9px 0 -21px -9px;
        padding: 0; }
        #overlay .cnt .feedback header ul li {
          float: left; }
          #overlay .cnt .feedback header ul li a {
            display: block;
            background: url(http://dl.dropbox.com/u/24369602/epek/images/seller-sprite.png) no-repeat;
            font-size: 24px;
            font-weight: bold;
            height: 39px;
            letter-spacing: -2px;
            line-height: 1;
            padding: 16px 22px 0 56px;
            text-decoration: none;
            color: #bdbdbd; }
            #overlay .cnt .feedback header ul li a.selected {
              background-color: #fff;
              border: 1px solid #dcdcdc;
              border-bottom: 0;
              color: #3d74a7; }
          #overlay .cnt .feedback header ul li.r4 a {
            background-position: 12px -169px; }
            #overlay .cnt .feedback header ul li.r4 a.selected {
              background-position: 12px -99px; }
          #overlay .cnt .feedback header ul li.r3 a {
            background-position: 12px -309px; }
            #overlay .cnt .feedback header ul li.r3 a.selected {
              background-position: 12px -239px; }
          #overlay .cnt .feedback header ul li.r2 a {
            background-position: 12px -449px; }
            #overlay .cnt .feedback header ul li.r2 a.selected {
              background-position: 12px -379px; }
          #overlay .cnt .feedback header ul li.r1 a {
            background-position: 12px -589px; }
            #overlay .cnt .feedback header ul li.r1 a.selected {
              background-position: 12px -519px; }
      #overlay .cnt .feedback > div {
        display: none;
        padding: 0 0 1px; }
        #overlay .cnt .feedback > div.selected {
          display: block; }
        #overlay .cnt .feedback > div ul {
          list-style-type: none;
          margin: 0;
          padding: 0; }
          #overlay .cnt .feedback > div ul li {
            border-top: 1px solid #ececec;
            padding: 20px 0; }
            #overlay .cnt .feedback > div ul li:first-child {
              border-top: 0;
              padding-top: 0; }
            #overlay .cnt .feedback > div ul li a {
              text-decoration: none;
              color: #3d74a7; }
              #overlay .cnt .feedback > div ul li a:hover {
                color: #ba4105; }
              #overlay .cnt .feedback > div ul li a img {
                vertical-align: middle;
                margin-right: 4px; }
            #overlay .cnt .feedback > div ul li p {
              margin: 10px 0 0;
              font-weight: normal;
              line-height: 20px;
              color: #868686; }
            #overlay .cnt .feedback > div ul li strong {
              color: #585858;
              font-size: 12px; }
    #overlay .cnt .following,
    #overlay .cnt .followers {
      width: 695px; }
      #overlay .cnt .following ul,
      #overlay .cnt .followers ul {
        margin: 0;
        padding: 0;
        list-style-type: none; }
        #overlay .cnt .following ul li,
        #overlay .cnt .followers ul li {
          margin: 0;
          padding: 10px 0 0; }
          #overlay .cnt .following ul li:first-child,
          #overlay .cnt .followers ul li:first-child {
            padding-top: 0; }
          #overlay .cnt .following ul li img,
          #overlay .cnt .followers ul li img {
            float: left;
            margin: 0 10px 0 0; }
          #overlay .cnt .following ul li a,
          #overlay .cnt .followers ul li a {
            color: #3d74a7;
            font-size: 18px;
            font-weight: bold;
            text-decoration: none; }
            #overlay .cnt .following ul li a:hover,
            #overlay .cnt .followers ul li a:hover {
              color: #ba4105; }
          #overlay .cnt .following ul li p,
          #overlay .cnt .followers ul li p {
            color: #868686;
            font-weight: normal;
            font-size: 14px;
            margin: 5px 0 0; }
  #overlay .button,
  #overlay button {
    background: #336699;
    border: 1px solid #366793;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    font-spacing: -1px;
    margin: 0;
    padding: 0; }
    #overlay .button:hover,
    #overlay button:hover {
      background: #3d92d4; }
    #overlay .button span,
    #overlay button span {
      border-top: #4e94d6;
      display: block;
      padding: 4px;
      letter-spacing: -1px; }
    #overlay .button.cancel, #overlay .button[type=reset],
    #overlay button.cancel,
    #overlay button[type=reset] {
      background: #fff;
      color: #868686;
      border-color: #dcdcdc;
      margin-left: 10px; }
      #overlay .button.cancel:hover, #overlay .button[type=reset]:hover,
      #overlay button.cancel:hover,
      #overlay button[type=reset]:hover {
        color: #3d74a7; }
    #overlay .button.icon span,
    #overlay button.icon span {
      padding: 0;
      font-weight: normal;
      text-shadow: 1px 1px 1px #333;
      filter: dropshadow(color=#333333, offx=1, offy=1);
      font-family: "FontAwesome";
      font-size: 28px; }
  #overlay table {
    border-collapse: collapse;
    border-spacing: 0; }
  #overlay td {
    vertical-align: top; }
  #overlay input.editable {
    width: 10px;
    border: 0;
    margin: 0;
    padding: 0;
    color: #757575;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: -1px;
    background: transparent;
    outline: 0; }
    .indicator.right #overlay input.editable {
      text-align: right; }
