/*  Font Awesome
    the iconic font designed for use with Twitter Bootstrap
    -------------------------------------------------------
    The full suite of pictographic icons, examples, and documentation
    can be found at: http://fortawesome.github.com/Font-Awesome/

    License
    -------------------------------------------------------
    The Font Awesome webfont, CSS, and LESS files are licensed under CC BY 3.0:
    http://creativecommons.org/licenses/by/3.0/ A mention of
    'Font Awesome - http://fortawesome.github.com/Font-Awesome' in human-readable
    source code is considered acceptable attribution (most common on the web).
    If human readable source code is not available to the end user, a mention in
    an 'About' or 'Credits' screen is considered acceptable (most common in desktop
    or mobile software).

    Contact
    -------------------------------------------------------
    Email: dave@davegandy.com
    Twitter: http://twitter.com/fortaweso_me
    Work: http://lemonwi.se co-founder

    */
@font-face {
  font-family: 'FontAwesome';
  src: url("../icons/fontawesome-webfont.eot");
  src: url("../icons/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("../icons/fontawesome-webfont.woff") format("woff"), url("../icons/fontawesome-webfont.ttf") format("truetype"), url("../icons/fontawesome-webfont.svgz#FontAwesomeRegular") format("svg"), url("../icons/fontawesome-webfont.svg#FontAwesomeRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

/* sprites.less reset */
[class^="icon-"], [class*=" icon-"] {
  display: inline;
  width: auto;
  height: auto;
  line-height: inherit;
  vertical-align: baseline;
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat; }

li[class^="icon-"], li[class*=" icon-"] {
  display: block; }

/*  Font Awesome styles
    ------------------------------------------------------- */
.text-icon, #home .more ul li div .time span,
#home > ul li div .time span, #product header ul li a span, #product header .location span, #overlay .cnt .share form fieldset div a {
  font-family: FontAwesome; }

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit; }

a [class^="icon-"], a [class*=" icon-"] {
  display: inline-block;
  text-decoration: inherit; }

/* makes the font 33% larger relative to the icon container */
.icon-large:before {
  vertical-align: top;
  font-size: 1.3333333333333333em; }

.btn [class^="icon-"], .btn [class*=" icon-"] {
  /* keeps button heights with and without icons the same */
  line-height: .9em; }

li [class^="icon-"], li [class*=" icon-"] {
  display: inline-block;
  width: 1.25em;
  text-align: center; }

li .icon-large[class^="icon-"], li .icon-large[class*=" icon-"] {
  /* 1.5 increased font size for icon-large * 1.25 width */
  width: 1.875em; }

li[class^="icon-"], li[class*=" icon-"] {
  margin-left: 0;
  list-style-type: none; }

li[class^="icon-"]:before, li[class*=" icon-"]:before {
  text-indent: -2em;
  text-align: center; }

li[class^="icon-"].icon-large:before, li[class*=" icon-"].icon-large:before {
  text-indent: -1.333em; }

/*  Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
    readers do not read off random characters that represent icons */
.icon-glass:before {
  content: "\f000"; }

.icon-music:before {
  content: "\f001"; }

.icon-search:before {
  content: "\f002"; }

.icon-envelope:before {
  content: "\f003"; }

.icon-heart:before {
  content: "\f004"; }

.icon-star:before {
  content: "\f005"; }

.icon-star-empty:before {
  content: "\f006"; }

.icon-user:before {
  content: "\f007"; }

.icon-film:before {
  content: "\f008"; }

.icon-th-large:before {
  content: "\f009"; }

.icon-th:before {
  content: "\f00a"; }

.icon-th-list:before {
  content: "\f00b"; }

.icon-ok:before {
  content: "\f00c"; }

.icon-remove:before {
  content: "\f00d"; }

.icon-zoom-in:before {
  content: "\f00e"; }

.icon-zoom-out:before {
  content: "\f010"; }

.icon-off:before {
  content: "\f011"; }

.icon-signal:before {
  content: "\f012"; }

.icon-cog:before {
  content: "\f013"; }

.icon-trash:before {
  content: "\f014"; }

.icon-home:before {
  content: "\f015"; }

.icon-file:before {
  content: "\f016"; }

.icon-time:before {
  content: "\f017"; }

.icon-road:before {
  content: "\f018"; }

.icon-download-alt:before {
  content: "\f019"; }

.icon-download:before {
  content: "\f01a"; }

.icon-upload:before {
  content: "\f01b"; }

.icon-inbox:before {
  content: "\f01c"; }

.icon-play-circle:before {
  content: "\f01d"; }

.icon-repeat:before {
  content: "\f01e"; }

/* \f020 is not a valid unicode character. all shifted one down */
.icon-refresh:before {
  content: "\f021"; }

.icon-list-alt:before {
  content: "\f022"; }

.icon-lock:before {
  content: "\f023"; }

.icon-flag:before {
  content: "\f024"; }

.icon-headphones:before {
  content: "\f025"; }

.icon-volume-off:before {
  content: "\f026"; }

.icon-volume-down:before {
  content: "\f027"; }

.icon-volume-up:before {
  content: "\f028"; }

.icon-qrcode:before {
  content: "\f029"; }

.icon-barcode:before {
  content: "\f02a"; }

.icon-tag:before {
  content: "\f02b"; }

.icon-tags:before {
  content: "\f02c"; }

.icon-book:before {
  content: "\f02d"; }

.icon-bookmark:before {
  content: "\f02e"; }

.icon-print:before {
  content: "\f02f"; }

.icon-camera:before {
  content: "\f030"; }

.icon-font:before {
  content: "\f031"; }

.icon-bold:before {
  content: "\f032"; }

.icon-italic:before {
  content: "\f033"; }

.icon-text-height:before {
  content: "\f034"; }

.icon-text-width:before {
  content: "\f035"; }

.icon-align-left:before {
  content: "\f036"; }

.icon-align-center:before {
  content: "\f037"; }

.icon-align-right:before {
  content: "\f038"; }

.icon-align-justify:before {
  content: "\f039"; }

.icon-list:before {
  content: "\f03a"; }

.icon-indent-left:before {
  content: "\f03b"; }

.icon-indent-right:before {
  content: "\f03c"; }

.icon-facetime-video:before {
  content: "\f03d"; }

.icon-picture:before {
  content: "\f03e"; }

.icon-pencil:before {
  content: "\f040"; }

.icon-map-marker:before {
  content: "\f041"; }

.icon-adjust:before {
  content: "\f042"; }

.icon-tint:before {
  content: "\f043"; }

.icon-edit:before {
  content: "\f044"; }

.icon-share:before {
  content: "\f045"; }

.icon-check:before {
  content: "\f046"; }

.icon-move:before {
  content: "\f047"; }

.icon-step-backward:before {
  content: "\f048"; }

.icon-fast-backward:before {
  content: "\f049"; }

.icon-backward:before {
  content: "\f04a"; }

.icon-play:before {
  content: "\f04b"; }

.icon-pause:before {
  content: "\f04c"; }

.icon-stop:before {
  content: "\f04d"; }

.icon-forward:before {
  content: "\f04e"; }

.icon-fast-forward:before {
  content: "\f050"; }

.icon-step-forward:before {
  content: "\f051"; }

.icon-eject:before {
  content: "\f052"; }

.icon-chevron-left:before {
  content: "\f053"; }

.icon-chevron-right:before {
  content: "\f054"; }

.icon-plus-sign:before {
  content: "\f055"; }

.icon-minus-sign:before {
  content: "\f056"; }

.icon-remove-sign:before {
  content: "\f057"; }

.icon-ok-sign:before {
  content: "\f058"; }

.icon-question-sign:before {
  content: "\f059"; }

.icon-info-sign:before {
  content: "\f05a"; }

.icon-screenshot:before {
  content: "\f05b"; }

.icon-remove-circle:before {
  content: "\f05c"; }

.icon-ok-circle:before {
  content: "\f05d"; }

.icon-ban-circle:before {
  content: "\f05e"; }

.icon-arrow-left:before {
  content: "\f060"; }

.icon-arrow-right:before {
  content: "\f061"; }

.icon-arrow-up:before {
  content: "\f062"; }

.icon-arrow-down:before {
  content: "\f063"; }

.icon-share-alt:before {
  content: "\f064"; }

.icon-resize-full:before {
  content: "\f065"; }

.icon-resize-small:before {
  content: "\f066"; }

.icon-plus:before {
  content: "\f067"; }

.icon-minus:before {
  content: "\f068"; }

.icon-asterisk:before {
  content: "\f069"; }

.icon-exclamation-sign:before {
  content: "\f06a"; }

.icon-gift:before {
  content: "\f06b"; }

.icon-leaf:before {
  content: "\f06c"; }

.icon-fire:before {
  content: "\f06d"; }

.icon-eye-open:before {
  content: "\f06e"; }

.icon-eye-close:before {
  content: "\f070"; }

.icon-warning-sign:before {
  content: "\f071"; }

.icon-plane:before {
  content: "\f072"; }

.icon-calendar:before {
  content: "\f073"; }

.icon-random:before {
  content: "\f074"; }

.icon-comment:before {
  content: "\f075"; }

.icon-magnet:before {
  content: "\f076"; }

.icon-chevron-up:before {
  content: "\f077"; }

.icon-chevron-down:before {
  content: "\f078"; }

.icon-retweet:before {
  content: "\f079"; }

.icon-shopping-cart:before {
  content: "\f07a"; }

.icon-folder-close:before {
  content: "\f07b"; }

.icon-folder-open:before {
  content: "\f07c"; }

.icon-resize-vertical:before {
  content: "\f07d"; }

.icon-resize-horizontal:before {
  content: "\f07e"; }

.icon-bar-chart:before {
  content: "\f080"; }

.icon-twitter-sign:before {
  content: "\f081"; }

.icon-facebook-sign:before {
  content: "\f082"; }

.icon-camera-retro:before {
  content: "\f083"; }

.icon-key:before {
  content: "\f084"; }

.icon-cogs:before {
  content: "\f085"; }

.icon-comments:before {
  content: "\f086"; }

.icon-thumbs-up:before {
  content: "\f087"; }

.icon-thumbs-down:before {
  content: "\f088"; }

.icon-star-half:before {
  content: "\f089"; }

.icon-heart-empty:before {
  content: "\f08a"; }

.icon-signout:before {
  content: "\f08b"; }

.icon-linkedin-sign:before {
  content: "\f08c"; }

.icon-pushpin:before {
  content: "\f08d"; }

.icon-external-link:before {
  content: "\f08e"; }

.icon-signin:before {
  content: "\f090"; }

.icon-trophy:before {
  content: "\f091"; }

.icon-github-sign:before {
  content: "\f092"; }

.icon-upload-alt:before {
  content: "\f093"; }

.icon-lemon:before {
  content: "\f094"; }

/*
 * jQuery UI CSS Framework 1.8.17
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Theming/API
 */
/* Layout helpers
----------------------------------*/
.ui-helper-hidden {
  display: none; }

.ui-helper-hidden-accessible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px); }

.ui-helper-reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none; }

.ui-helper-clearfix:before, .ui-helper-clearfix:after {
  content: "";
  display: table; }

.ui-helper-clearfix:after {
  clear: both; }

.ui-helper-clearfix {
  zoom: 1; }

.ui-helper-zfix {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  filter: Alpha(Opacity=0); }

/* Interaction Cues
----------------------------------*/
.ui-state-disabled {
  cursor: default !important; }

/* Icons
----------------------------------*/
/* states and images */
.ui-icon {
  display: block;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat; }

/* Misc visuals
----------------------------------*/
/* Overlays */
.ui-widget-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/*
 * jQuery UI Slider 1.8.17
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Slider#theming
 */
.ui-slider {
  position: relative;
  text-align: left; }

.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 1.2em;
  height: 1.2em;
  cursor: default; }

.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  background-position: 0 0; }

.ui-slider-horizontal {
  height: .8em; }

.ui-slider-horizontal .ui-slider-handle {
  top: -0.3em;
  margin-left: -0.6em; }

.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%; }

.ui-slider-horizontal .ui-slider-range-min {
  left: 0; }

.ui-slider-horizontal .ui-slider-range-max {
  right: 0; }

.ui-slider-vertical {
  width: .8em;
  height: 100px; }

.ui-slider-vertical .ui-slider-handle {
  left: -0.3em;
  margin-left: 0;
  margin-bottom: -0.6em; }

.ui-slider-vertical .ui-slider-range {
  left: 0;
  width: 100%; }

.ui-slider-vertical .ui-slider-range-min {
  bottom: 0; }

.ui-slider-vertical .ui-slider-range-max {
  top: 0; }

/* customer after styles for slider and search pages */
.slide_area .ui-widget-content {
  border: 1px solid #e3e3e3 !important; }

.ui-slider-handle {
  background-image: none !important;
  background-color: #3d74a7 !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  border-width: 0 !important;
  color: white !important;
  font-size: 14px;
  font-weight: bold !important;
  height: 22px !important;
  letter-spacing: -1px;
  line-height: 21px;
  margin-left: -1px !important;
  margin-top: -4px;
  padding: 0 7px;
  text-decoration: none;
  width: auto !important; }

#condition .ui-slider-handle {
  background-color: #79a145 !important; }

#distance .ui-slider-handle {
  background-color: #515151 !important; }

.ui-slider-handle:focus {
  outline: none; }

.ui-slider-horizontal {
  background: white url(../img/background.png) repeat-x 0 -408px;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  height: 8px; }

#slider {
  margin-top: -6px;
  padding-bottom: 40px;
  width: 256px; }

#slider.search {
  padding-top: 39px;
  padding-bottom: 33px;
  width: 250px; }

#slider.search label {
  color: #636363;
  font-size: 14px;
  font-weight: bold;
  height: 20px;
  letter-spacing: -1px; }

#slider.search label span {
  color: #ababab;
  font-weight: normal;
  padding-left: 1px; }

#slider.search label.distance {
  margin-top: 24px; }

#slider h1 {
  margin-bottom: 10px; }

#slider .floatLeft {
  width: 120px; }

#slider .floatLeft.first-child {
  margin-right: 16px; }

#slider .condition, #slider .distance {
  margin-top: 23px; }

#maximum a.fixlast {
  right: 0 !important;
  margin-right: -1px; }

#condition a.fix0 {
  left: 0% !important; }

#condition a.fix40 {
  left: 40% !important; }

#condition a.fix82 {
  left: 82% !important;
  right: 0 !important;
  margin-right: -1px; }

#distance a.fix69 {
  left: 69% !important;
  right: 0 !important;
  margin-right: -1px; }

#min_max {
  background: #f5f5f5;
  border: 1px solid #dcdcdc !important;
  border-top-width: 2px !important;
  border-left: none !important;
  border-right: none !important;
  height: 7px; }

#min_max .ui-widget-header {
  background: #3d794b;
  border-top: 1px solid #33653e;
  border-bottom: 1px solid #2a5434;
  margin-top: -1px; }

#min_max .ui-widget-header:before {
  background-color: #2a5434;
  content: '';
  display: block;
  height: 1px;
  margin-top: -2px;
  position: absolute;
  width: 100%; }

#min_max .ui-slider-handle,
#radius .ui-slider-handle {
  background: url("../img/icon-set-4.png?v=20120504") no-repeat 0 0 !important;
  border: none;
  height: 18px !important;
  margin-top: -2px;
  width: 21px !important; }

table.slide_area {
  border-collapse: collapse;
  clear: left;
  width: 100%; }

table.slide_area td {
  margin: 0;
  padding: 0; }

table.slide_area td {
  padding-top: 8px; }

table.slide_area td.info {
  padding-top: 0;
  width: 1px; }

table.slide_area td.info.faux_end {
  background: url("../img/search-sprite.png?v=20120504") repeat-x 100% -194px;
  width: 19px; }

.slide_area .indicator {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #757575;
  cursor: default;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  height: 25px;
  letter-spacing: -1px;
  line-height: 1;
  min-width: 55px;
  padding: 0;
  white-space: nowrap;
  z-index: 2; }

.slide_area .indicator.left {
  background: url("../img/search-sprite.png?v=20120504") repeat-x 100% -122px;
  border-left: 1px solid #dedede;
  padding: 0 19px 0 5px; }

.slide_area .indicator.right {
  background: url("../img/search-sprite.png?v=20120504") repeat-x 0% -162px;
  border-right: 1px solid #dedede;
  min-width: 74px;
  padding: 0 8px 0 38px;
  text-align: right; }

.slide_area .indicator .map_icon {
  background: url("../img/icon-set-4.png?v=20120504") no-repeat 0 -40px !important;
  display: inline-block;
  height: 14px;
  margin-left: -1px;
  margin-top: 5px;
  vertical-align: bottom;
  width: 11px; }

.slide_area .indicator span.value {
  display: inline-block;
  padding-top: 5px; }

.slide_area .indicator div.editable {
  display: inline-block;
  outline: none; }

#radius {
  background: #f5f5f5;
  border: 1px solid #dcdcdc !important;
  border-top-width: 2px !important;
  border-right: none !important;
  height: 7px;
  margin: 0; }

#radius .ui-widget-header {
  background: #4586c1;
  border-top: 1px solid #396fa0;
  border-bottom: 1px solid #3d74a8;
  border-left: 1px solid #3d74a8;
  margin-top: -1px;
  margin-left: -1px; }

#radius .ui-widget-header:before {
  background-color: #3d74a8;
  content: '';
  display: block;
  height: 1px;
  margin-top: -2px;
  margin-left: -1px;
  position: absolute;
  width: 100%; }

/* normalize.css 2012-03-11T12:53 UTC - http://github.com/necolas/normalize.css */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/*
 * Prevents modern browsers from displaying 'audio' without controls
 * Remove excess height in iOS5 devices
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */
[hidden] {
  display: none; }

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/*
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */
html,
button,
input,
select,
textarea {
  font-family: 'Ubuntu', sans-serif; }

/*
 * Addresses margins handled incorrectly in IE6/7
 */
body {
  margin: 0; }

/* =============================================================================
   Links
   ========================================================================== */
/*
 * Addresses outline displayed oddly in Chrome
 */
a:focus {
  outline: thin dotted; }

/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */
a:hover,
a:active {
  outline: 0; }

/* =============================================================================
   Typography
   ========================================================================== */
/*
 * Addresses font sizes and margins set differently in IE6/7
 * Addresses font sizes within 'section' and 'article' in FF4+, Chrome, S5
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

/*
 * Addresses styling not present in IE7/8/9, S5, Chrome
 */
abbr[title] {
  border-bottom: 1px dotted; }

/*
 * Addresses style set to 'bolder' in FF3+, S4/5, Chrome
*/
b,
strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

/*
 * Addresses styling not present in S5, Chrome
 */
dfn {
  font-style: italic; }

/*
 * Addresses styling not present in IE6/7/8/9
 */
mark {
  background: #ff0;
  color: #000; }

/*
 * Addresses margins set differently in IE6/7
 */
p,
pre {
  margin: 1em 0; }

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

/*
 * Improves readability of pre-formatted text in all browsers
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/*
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */
/* 1 */
q {
  quotes: none; }

/* 2 */
q:before,
q:after {
  content: '';
  content: none; }

small {
  font-size: 75%; }

/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* =============================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE6/7
 */
dl,
menu,
ol,
ul {
  margin: 1em 0; }

dd {
  margin: 0 0 0 40px; }

/*
 * Addresses paddings set differently in IE6/7
 */
menu,
ol,
ul {
  padding: 0 0 0 40px; }

/*
 * Corrects list images handled incorrectly in IE7
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none; }

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside 'a' element in IE6/7/8/9, FF3
 * 2. Improves image quality when scaled in IE7
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

/*
 * Corrects overflow displayed oddly in IE9
 */
svg:not(:root) {
  overflow: hidden; }

/* =============================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11
 */
figure {
  margin: 0; }

/* =============================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7
 */
form {
  margin: 0; }

/*
 * Define consistent border, margin, and padding
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/*
 * 1. Corrects color not being inherited in IE6/7/8/9
 * 2. Corrects text not wrapping in FF3
 * 3. Corrects alignment displayed oddly in IE6/7
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */ }

/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */ }

/*
 * Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet
 */
button,
input {
  line-height: normal;
  /* 1 */ }

/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 * 3. Removes inner spacing in IE7 without affecting normal text inputs
 *    Known issue: inner spacing remains in IE6
 */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  /* 1 */
  -webkit-appearance: button;
  /* 2 */
  *overflow: visible;
  /* 3 */ }

/*
 * Re-set default cursor for disabled elements
 */
button[disabled],
input[disabled] {
  cursor: default; }

/*
 * 1. Addresses box sizing set to content-box in IE8/9
 * 2. Removes excess padding in IE8/9
 * 3. Removes excess padding in IE7
      Known issue: excess padding remains in IE6
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X
 */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

/*
 * Removes inner padding and border in FF3+
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* =============================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font: normal 500 14px/1.2 "Ubuntu", sans-serif;
  letter-spacing: -1px; }

#wrapper {
  position: relative;
  min-height: 500px; }
  #wrapper.loading {
    background: url(../img/spinner.gif) no-repeat 50% 20%; }
  #wrapper section {
    margin: 0 auto;
    width: 965px;
    display: none; }
    #wrapper section > h1 {
      color: #3d74a7;
      font-size: 32px;
      letter-spacing: -2px;
      margin: 24px 0 36px -2px; }
  #wrapper aside {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 280px; }
  #wrapper.filter {
    margin: 0 auto;
    width: 965px; }
    #wrapper.filter section {
      margin: 0 0 0 280px;
      width: auto; }
    #wrapper.filter aside {
      display: block; }

.button,
button {
  background: #336699;
  border: 1px solid #366793;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  font-spacing: -1px;
  margin: 0;
  padding: 0; }
  .button:hover,
  button:hover {
    background: #3d92d4; }
  .button span,
  button span {
    border-top: #4e94d6;
    display: block;
    padding: 4px;
    letter-spacing: -1px; }
  .button.cancel, .button[type=reset],
  button.cancel,
  button[type=reset] {
    background: #fff;
    color: #868686;
    border-color: #dcdcdc;
    margin-left: 10px; }
    .button.cancel:hover, .button[type=reset]:hover,
    button.cancel:hover,
    button[type=reset]:hover {
      color: #3d74a7; }
  .button.icon span,
  button.icon span {
    padding: 0;
    font-weight: normal;
    text-shadow: 1px 1px 1px #333;
    filter: dropshadow(color=#333333, offx=1, offy=1);
    font-family: "FontAwesome";
    font-size: 28px; }
  form.loading .button[type=submit], form.loading
  button[type=submit] {
    background: #ececec url(../img/loading.gif) no-repeat 4px 50%;
    border-color: #868686;
    color: #868686; }
    form.loading .button[type=submit] span, form.loading
    button[type=submit] span {
      padding-left: 35px !important; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td {
  vertical-align: top; }

input.editable {
  width: 10px;
  border: 0;
  margin: 0;
  padding: 0;
  color: #757575;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: -1px;
  background: transparent;
  outline: 0; }
  .indicator.right input.editable {
    text-align: right; }

div.pac-item {
  padding: 4px;
  color: #868686;
  font-size: 16px;
  font-weight: normal; }

div.pac-container:after {
  content: ''; }

.ir, #header h1 a {
  overflow: hidden;
  white-space: nowrap;
  text-indent: 100%; }

.e {
  font-size: 1.35em;
  line-height: 1;
  text-transform: lowercase;
  font-weight: normal; }

.clearfix:before, #header > div:before, #home .more ul:before,
#home > ul:before, #home .categories ul:before, #search nav ul:before, #product header:before, #product .bidding form:before, #product .images ul:before, #product .info:before, #product .info .shipping-payment .shipping ul:before, #product .info .description ul:before, #overlay .cnt form fieldset.submit:before, #overlay .cnt .share form > div:before, #overlay .cnt .feedback header ul:before, #overlay .cnt .following ul li:before,
#overlay .cnt .followers ul li:before, #footer:before, .clearfix:after, #header > div:after, #home .more ul:after,
#home > ul:after, #home .categories ul:after, #search nav ul:after, #product header:after, #product .bidding form:after, #product .images ul:after, #product .info:after, #product .info .shipping-payment .shipping ul:after, #product .info .description ul:after, #overlay .cnt form fieldset.submit:after, #overlay .cnt .share form > div:after, #overlay .cnt .feedback header ul:after, #overlay .cnt .following ul li:after,
#overlay .cnt .followers ul li:after, #footer:after {
  content: "";
  display: table; }

.clearfix:after, #header > div:after, #home .more ul:after,
#home > ul:after, #home .categories ul:after, #search nav ul:after, #product header:after, #product .bidding form:after, #product .images ul:after, #product .info:after, #product .info .shipping-payment .shipping ul:after, #product .info .description ul:after, #overlay .cnt form fieldset.submit:after, #overlay .cnt .share form > div:after, #overlay .cnt .feedback header ul:after, #overlay .cnt .following ul li:after,
#overlay .cnt .followers ul li:after, #footer:after {
  clear: both; }

.clearfix, #header > div, #home .more ul,
#home > ul, #home .categories ul, #search nav ul, #product header, #product .bidding form, #product .images ul, #product .info, #product .info .shipping-payment .shipping ul, #product .info .description ul, #overlay .cnt form fieldset.submit, #overlay .cnt .share form > div, #overlay .cnt .feedback header ul, #overlay .cnt .following ul li,
#overlay .cnt .followers ul li, #footer {
  *zoom: 1; }

/* forgive me, just for legacy code */
.floatLeft {
  float: left; }

.floatRight {
  float: right; }

.transition-all, #header h1, #header h1 a, #header nav ul, #header form.search, #header form.search input, #header .geo {
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s; }

.transition-all-05, #product .gallery-wrapper > p, #product .gallery-wrapper ul, #product .images ul, #product .images ul li img, #profile .seller_background_image img, #profile .seller_photo img {
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }

#header {
  background: #FAFAFA;
  border-bottom: 1px solid #ECECEC;
  position: relative;
  z-index: 1; }
  #header > div {
    width: 965px;
    margin: 0 auto;
    position: relative;
    padding: 59px 0 0; }
  #header h1 {
    position: absolute;
    margin: 0;
    top: 43px;
    left: 0; }
    #tag-page #header h1, #tags-page #header h1, #home-page #header h1 {
      top: 32px;
      left: 20px; }
    #header h1 a {
      display: block;
      width: 130px;
      height: 58px;
      background: url(../img/logo.png) no-repeat 0 0; }
      #tag-page #header h1 a, #tags-page #header h1 a, #home-page #header h1 a {
        background: url(../img/logo-home.png) no-repeat 0 0;
        width: 184px;
        height: 82px; }
  #header .logged-in .login,
  #header .logged-out .user {
    display: none; }
  #header nav {
    letter-spacing: 0; }
    #header nav a {
      color: #a7a7a7;
      text-decoration: none; }
      #header nav a:hover {
        color: #3d74a7; }
    #header nav .sell a {
      color: #899d82; }
      #header nav .sell a:hover {
        color: #3d74a7; }
    #header nav .user a.user {
      color: #3d74a7;
      text-decoration: underline;
      font-weight: bold; }
      #header nav .user a.user:hover {
        color: #ba4105; }
    #header nav ul {
      position: absolute;
      right: 0;
      top: 19px;
      margin: 0;
      padding: 0; }
      #tag-page #header nav ul, #tags-page #header nav ul, #home-page #header nav ul {
        top: 81px; }
      #header nav ul li {
        display: inline-block;
        vertical-align: bottom; }
        #header nav ul li a {
          padding-left: 10px;
          margin-left: 10px;
          border-left: 1px solid #a7a7a7;
          float: left;
          line-height: 10px; }
          #header nav ul li a .e {
            line-height: 6px; }
          #header nav ul li a.logout {
            padding-left: 0;
            margin-left: 0;
            border-left: 0; }
        #header nav ul li:first-child a {
          padding-left: 0;
          margin-left: 0;
          border-left: 0; }
  #header form.search {
    float: right;
    position: relative; }
    #tag-page #header form.search, #tags-page #header form.search, #home-page #header form.search {
      margin-top: 75px; }
    #header form.search input {
      font-size: 18px;
      color: #585858;
      font-weight: bold;
      width: 663px;
      padding: 14px 16px 13px;
      height: 21px;
      border: 1px solid #DBDBDB;
      border-right: none;
      -webkit-box-shadow: 0 2px 0 #EEE;
      -moz-box-shadow: 0 2px 0 #eeeeee;
      box-shadow: 0 2px 0 #EEE; }
      #tag-page #header form.search input, #tags-page #header form.search input, #home-page #header form.search input {
        width: 875px; }
      #header form.search input::-webkit-input-placeholder {
        color: #585858;
        font-weight: bold; }
      #header form.search input:-moz-placeholder {
        color: #585858;
        font-weight: bold; }
      #header form.search input.real {
        background-color: #FEFEFE; }
    #header form.search button span {
      padding: 0 8px;
      line-height: 48px;
      height: 48px;
      width: 37px; }
    #header form.search input, #header form.search button {
      vertical-align: middle; }
    #header form.search > div {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%; }
      #header form.search > div ul {
        width: 695px !important;
        border: 1px solid #ececec;
        border-top: 0;
        margin: 0;
        padding: 10px 0;
        list-style-type: none;
        color: #585858;
        background: #fff;
        font-size: 18px;
        font-weight: bold; }
        #header form.search > div ul li a {
          display: block;
          padding: 4px 16px 3px; }
          #header form.search > div ul li a#ui-active-menuitem {
            background: #dcdcdc; }
  #header .geo {
    position: relative;
    clear: both;
    height: 60px;
    overflow: hidden;
    width: 750px;
    margin: 0 0 0 auto;
    line-height: 60px; }
    #tag-page #header .geo, #tags-page #header .geo, #home-page #header .geo {
      width: 960px; }
    #profile-page #header .geo, #product-page #header .geo {
      height: 0;
      margin-bottom: 20px; }
    #header .geo > div {
      float: left;
      padding: 0 20px 0 0;
      border-right: 1px solid #ececec;
      color: #3d74a7;
      text-transform: capitalize;
      font-weight: bold; }
      #header .geo > div.loading {
        padding: 0 50px;
        min-height: 60px;
        background: url(../img/spinner.gif) no-repeat 50%; }
      #header .geo > div a {
        color: #3d74a7;
        font-size: 12px;
        margin-left: 10px;
        text-transform: none;
        font-weight: 500;
        letter-spacing: 0; }
        #header .geo > div a:hover {
          color: #ba4105; }
      #header .geo > div span {
        margin-right: 10px;
        font-size: 28px;
        line-height: 1;
        vertical-align: -5px; }
    #header .geo h2 {
      float: left;
      margin: 0;
      padding: 0 10px 0 20px;
      font-size: 14px;
      color: #868686; }
    #header .geo ul {
      margin: 0;
      padding: 0;
      overflow: hidden;
      height: 60px; }
      #header .geo ul li {
        margin: 0;
        padding: 0 0 0 20px;
        white-space: nowrap;
        display: inline-block; }
        #header .geo ul li a {
          color: #868686;
          text-decoration: none;
          font-weight: normal; }
          #header .geo ul li a:hover {
            color: #3d74a7; }
    #header .geo form {
      display: none;
      position: absolute;
      top: 10px;
      left: 0;
      padding: 20px;
      border: 1px solid #dcdcdc;
      background: #fff;
      line-height: 1; }
      #header .geo form > a {
        position: absolute;
        right: 5px;
        top: 5px; }
      #header .geo form ul {
        margin: 20px 0 0;
        padding: 0;
        list-style-type: none; }
        #header .geo form ul li {
          margin: 0;
          padding: 4px 0 3px;
          font-size: 13px;
          color: #a7a7a7; }
          #header .geo form ul li a {
            color: #868686;
            font-size: 16px;
            font-weight: normal;
            text-decoration: none; }

#home > h1 {
  border-top: 1px solid #ececec;
  padding-top: 24px; }
#home > h1:first-child {
  border: 0;
  padding-top: 0; }
#home .more.loading {
  padding-bottom: 50px;
  background: url(../img/spinner.gif) no-repeat 50% 100%; }
#home .more ul,
#home > ul {
  list-style-type: none;
  margin: 32px 0 0 -30px;
  padding: 0; }
  #home .more ul li,
  #home > ul li {
    float: left;
    width: 300px;
    height: 300px;
    margin: 0 0 30px 30px;
    position: relative;
    overflow: hidden;
    color: #fff;
    cursor: pointer; }
    #home .more ul li img,
    #home > ul li img {
      width: 300px;
      height: 300px; }
    #home .more ul li h1,
    #home > ul li h1 {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 300px;
      overflow: hidden;
      margin: 0;
      text-indent: 15px;
      font-size: 20px;
      padding: 13px 0 15px 0;
      background: rgba(61, 116, 167, 0.9);
      letter-spacing: -1px;
      white-space: nowrap; }
    #home .more ul li div,
    #home > ul li div {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background: rgba(0, 0, 0, 0.6);
      *background: #000;
      line-height: 1.4;
      font-size: 12px;
      text-align: center;
      padding: 10px 0;
      display: none; }
      #home .more ul li div .time,
      #home > ul li div .time {
        float: right;
        margin: 5px 15px 0 0;
        display: block; }
        #home .more ul li div .time span,
        #home > ul li div .time span {
          font-size: 20px;
          margin-right: 5px;
          vertical-align: -3px; }
      #home .more ul li div .price,
      #home > ul li div .price {
        float: left;
        margin-left: 15px;
        font-size: 26px;
        letter-spacing: -2px;
        display: block; }
        #home .more ul li div .price span,
        #home > ul li div .price span {
          font-size: 16px;
          vertical-align: 3px;
          letter-spacing: 0; }
    #home .more ul li:hover div,
    #home > ul li:hover div {
      display: block; }
  #home .more ul li.more-item,
  #home .more ul li:first-child,
  #home .more ul li:first-child + li,
  #home > ul li.more-item,
  #home > ul li:first-child,
  #home > ul li:first-child + li {
    width: 467px;
    height: 300px; }
    #home .more ul li.more-item h1,
    #home .more ul li:first-child h1,
    #home .more ul li:first-child + li h1,
    #home > ul li.more-item h1,
    #home > ul li:first-child h1,
    #home > ul li:first-child + li h1 {
      display: block;
      min-width: 467px; }
    #home .more ul li.more-item img,
    #home .more ul li:first-child img,
    #home .more ul li:first-child + li img,
    #home > ul li.more-item img,
    #home > ul li:first-child img,
    #home > ul li:first-child + li img {
      width: 467px;
      height: 467px;
      margin-top: -83px; }
#home .categories ul {
  margin: 0 -21px 0 0;
  padding: 0;
  list-style-type: none; }
  #home .categories ul li {
    float: left;
    margin: 0 21px 5px 0; }
    #home .categories ul li a {
      display: block;
      text-decoration: none;
      position: relative;
      width: 88px;
      height: 88px;
      text-align: center; }
      #home .categories ul li a:hover strong {
        display: block; }
      #home .categories ul li a strong {
        position: absolute;
        left: 50%;
        white-space: nowrap;
        background-color: #363636;
        bottom: 90px;
        -webkit-box-shadow: 0 4px 7px rgba(0, 0, 0, 0.23);
        -moz-box-shadow: 0 4px 7px rgba(0, 0, 0, 0.23);
        box-shadow: 0 4px 7px rgba(0, 0, 0, 0.23);
        color: #fefefe;
        display: none;
        font-size: 20px;
        font-weight: bold;
        height: 40px;
        letter-spacing: -1px;
        line-height: 39px;
        min-width: 88px;
        padding: 0 11px;
        z-index: 2; }
        #home .categories ul li a strong:after {
          background: url("../images/icon-set-2.png?v=20120522") no-repeat 0 -672px;
          content: '';
          display: block;
          height: 26px;
          left: 50%;
          margin-left: -13px;
          position: absolute;
          width: 26px; }
#home > p {
  background: #3d74a7;
  color: #fff;
  height: 45px;
  overflow: hidden;
  margin: 35px 0 0;
  padding: 22px 210px 20px 164px;
  position: relative;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0; }
  #home > p strong {
    font-size: 16px;
    letter-spacing: -1px; }
  #home > p a {
    background-color: #fff;
    color: #3d74a7;
    display: block;
    font-size: 24px;
    font-weight: bold;
    height: 45px;
    letter-spacing: -1px;
    line-height: 45px;
    margin-right: -1px;
    padding: 0 13px 0 12px;
    position: absolute;
    right: 21px;
    text-align: center;
    text-decoration: none;
    top: 20px; }
    #home > p a:hover {
      color: #ba4105; }
  #home > p span {
    position: absolute;
    top: -18px;
    left: 20px;
    font-size: 100px;
    line-height: 1;
    font-weight: bold;
    -webkit-border-radius: 105px;
    -moz-border-radius: 105px;
    border-radius: 105px;
    color: #3d74a7;
    background: #fff;
    padding: 10px 35px; }

#filter {
  position: absolute;
  left: 0;
  top: 0;
  width: 280px; }
  #filter #slider label {
    display: block; }

#search {
  margin-left: 280px;
  border-left: 1px solid #ececec; }
  #tag-page #search {
    border-left: 0; }
  #search > p {
    font-size: 22px;
    color: #3d74a7;
    margin: 0;
    padding: 20px;
    background: #fff;
    position: relative;
    left: -1px; }
  #search nav {
    position: relative; }
    #tag-page #search nav {
      display: none; }
    #search nav ul {
      margin: 0;
      padding: 20px 0 0 20px;
      list-style-type: none;
      border-bottom: 1px solid #ececec; }
      #search nav ul li {
        float: left; }
        #search nav ul li a {
          padding: 10px 10px 20px;
          display: block;
          text-decoration: none;
          color: #868686;
          position: relative;
          border: 1px solid #fff; }
          #search nav ul li a:hover {
            color: #3d74a7; }
      #search nav ul.all .all a, #search nav ul.auction .auction a, #search nav ul.fixedprice .fixed a {
        bottom: -1px;
        border-color: #ececec;
        border-bottom-color: #fff; }
    #search nav > div {
      color: #4a4a4a;
      position: absolute;
      top: 30px;
      right: 0; }
      #search nav > div select {
        margin: 0 10px 0 5px; }
      #search nav > div p {
        display: inline; }
  #search > ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    #search > ul.loading {
      padding-bottom: 50px;
      background: url(../img/spinner.gif) no-repeat 50% 100%; }
    #search > ul li a {
      display: block;
      position: relative;
      margin: 0;
      padding: 30px 0 30px 160px;
      min-height: 100px;
      border-bottom: 1px solid #ebebeb;
      color: #4a4a4a;
      text-decoration: none; }
      #tag-page #search > ul li a {
        padding-left: 130px; }
      #search > ul li a:hover {
        background: #eee; }
      #search > ul li a > img {
        position: absolute;
        top: 30px;
        left: 30px;
        width: 100px;
        height: 100px; }
        #tag-page #search > ul li a > img {
          left: 0; }
      #search > ul li a > p {
        margin: 0;
        float: left;
        padding: 7px 0 0 5px;
        font-size: 12px;
        letter-spacing: -1px; }
      #search > ul li a h1 {
        font-size: 16px;
        margin: 0;
        color: #3d74a7; }
      #search > ul li a:hover h1 {
        color: #ba4105; }
      #search > ul li a .price {
        font-size: 34px;
        letter-spacing: -3px;
        font-weight: bold;
        float: left; }
        #search > ul li a .price span {
          font-size: 16px;
          vertical-align: 6px;
          letter-spacing: 0; }
      #search > ul li a .time {
        color: #000;
        clear: both; }
      #search > ul li a:hover .time {
        color: #ba4105; }

#product {
  color: #4a4a4a; }
  #wrapper #product {
    width: auto; }
  #product .header-wrapper {
    border-bottom: 1px solid #F0F0F0;
    box-shadow: 0 3px 3px #FAFAFA;
    padding-bottom: 30px; }
  #product .wrapper {
    width: 965px;
    margin: 0 auto; }
  #product header {
    margin: 0 auto;
    width: 965px;
    position: relative; }
    #product header h1 {
      color: #3d74a7;
      margin: 18px 0 14px; }
    #product header ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      float: left; }
      #product header ul li {
        float: left;
        margin-left: 25px; }
        #product header ul li:first-child {
          margin-left: 0; }
        #product header ul li a {
          text-decoration: none;
          color: #4a4a4a; }
          #product header ul li a:hover {
            color: #3d74a7; }
          #product header ul li a span {
            margin-right: 3px;
            font-size: 20px;
            vertical-align: middle; }
    #product header .location {
      margin: 0;
      float: right;
      font-weight: bold; }
      #product header .location span {
        margin-right: 3px;
        font-size: 20px;
        vertical-align: middle; }
      #product header .location i {
        font-style: normal;
        font-weight: 500;
        color: #868686; }
  #product .gallery-wrapper {
    width: 640px;
    height: 320px;
    overflow: hidden;
    float: left;
    position: relative;
    background: white url(../img/loading.gif) no-repeat 50%; }
    #product .gallery-wrapper span.icon-resize-full {
      display: inline; }
    #product .gallery-wrapper span.icon-resize-small {
      display: none; }
    #product .gallery-wrapper.fullscreen {
      width: 100%;
      height: 100%; }
      #product .gallery-wrapper.fullscreen span.icon-resize-full {
        display: none; }
      #product .gallery-wrapper.fullscreen span.icon-resize-small {
        display: inline; }
    #product .gallery-wrapper > div {
      background: #000;
      text-align: center;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%; }
    #product .gallery-wrapper iframe {
      border: 0; }
    #product .gallery-wrapper > p {
      margin: 0;
      position: absolute;
      z-index: 10;
      top: 10px;
      right: 10px;
      background: #ccc;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      opacity: 0.4; }
      #product .gallery-wrapper > p a {
        color: #4a4a4a;
        font-size: 20px;
        text-decoration: none;
        padding: 3px 6px; }
        #product .gallery-wrapper > p a:hover {
          color: #3d74a7; }
    #product .gallery-wrapper:hover > p {
      opacity: 1; }
    #product .gallery-wrapper ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      z-index: 9;
      opacity: 0.4; }
      #product .gallery-wrapper ul li {
        position: absolute;
        top: 0;
        right: 10px;
        margin-top: -30px; }
        #product .gallery-wrapper ul li:first-child {
          left: 10px;
          right: auto; }
        #product .gallery-wrapper ul li a {
          color: #fff;
          font-size: 50px;
          text-decoration: none; }
          #product .gallery-wrapper ul li a:hover {
            color: #3d74a7; }
      #product .gallery-wrapper ul:hover {
        opacity: 1; }
  #product .bidding {
    width: 295px;
    padding: 30px 0 0;
    float: right;
    min-height: 175px; }
    #product .bidding form {
      text-align: right;
      margin-bottom: 20px;
      white-space: nowrap; }
      #product .bidding form > span {
        margin-top: -8px;
        margin-right: 4px;
        font-size: 42px;
        letter-spacing: -2px;
        font-weight: bold;
        float: left; }
        #product .bidding form > span span {
          font-size: 16px;
          vertical-align: middle; }
    #product .bidding .bid label {
      position: relative; }
      #product .bidding .bid label span {
        position: absolute;
        top: -40px;
        left: 0;
        white-space: nowrap;
        padding: 5px;
        border: 1px solid #868686;
        color: #868686;
        display: none; }
      #product .bidding .bid label input {
        color: #868686;
        font-size: 14px;
        vertical-align: middle;
        padding: 9px;
        height: 16px;
        width: 65px;
        border: 1px solid #dcdcdc;
        border-right: none;
        -webkit-box-shadow: 0 1px 0 #E5E5E5;
        -moz-box-shadow: 0 1px 0 #e5e5e5;
        box-shadow: 0 1px 0 #E5E5E5; }
    #product .bidding button {
      vertical-align: middle; }
      #product .bidding button span {
        padding: 6px 15px 0 12px;
        height: 28px; }
    #product .bidding > p.bids {
      color: #3d74a7;
      font-size: 18px;
      padding-bottom: 20px;
      margin: -15px 0 20px 0;
      border-bottom: 1px solid #dcdcdc; }
      #product .bidding > p.bids strong {
        font-size: 42px;
        vertical-align: -5px;
        margin-right: 5px; }
      #product .bidding > p.bids a {
        color: #868686;
        text-decoration: none;
        font-size: 12px; }
        #product .bidding > p.bids a:hover {
          color: #3d74a7; }
    #product .bidding > p.time {
      margin: 0;
      font-size: 13px;
      color: #868686; }
      #product .bidding > p.time strong {
        display: block;
        color: #ba4105;
        font-size: 20px;
        margin-bottom: 5px; }
  #product .images {
    float: right;
    width: 295px;
    margin-top: 8px;
    overflow: hidden; }
    #product .images ul {
      margin: 0;
      padding: 0;
      min-height: 115px;
      list-style-type: none;
      white-space: nowrap;
      position: relative; }
      #product .images ul li {
        display: inline-block;
        padding: 10px; }
        #product .images ul li img {
          cursor: pointer; }
        #product .images ul li .active {
          margin: -6px;
          border: 1px solid; }
  #product .info {
    clear: both;
    padding-top: 20px; }
    #product .info .profile,
    #product .info .shipping-payment {
      min-height: 120px;
      padding: 20px;
      border: 1px solid #ececec; }
    #product .info .profile {
      width: 217px;
      float: left; }
      #product .info .profile a:first-child {
        float: left;
        margin-right: 10px; }
      #product .info .profile a {
        color: #3d74a7;
        text-decoration: none; }
        #product .info .profile a:hover {
          color: #ba4105; }
      #product .info .profile p {
        margin: 5px 0 0;
        font-size: 12px; }
      #product .info .profile .graph {
        margin-top: 5px;
        display: inline-block;
        width: 115px;
        background: #ba4105; }
        #product .info .profile .graph span {
          display: block;
          height: 15px;
          background: #80b65f; }
      #product .info .profile button {
        float: left;
        clear: left;
        margin-top: 10px; }
    #product .info .shipping-payment {
      float: right; }
      #product .info .shipping-payment h1 {
        color: #3d74a7;
        font-size: 16px;
        margin: -4px 0 20px 0; }
      #product .info .shipping-payment > div {
        float: left; }
      #product .info .shipping-payment .shipping {
        width: 345px;
        margin-right: 25px; }
        #product .info .shipping-payment .shipping ul {
          color: #585858;
          margin: 0;
          padding: 0;
          list-style-type: none; }
          #product .info .shipping-payment .shipping ul li {
            float: left;
            margin-left: 10px; }
            #product .info .shipping-payment .shipping ul li:first-child {
              margin-left: 0; }
            #product .info .shipping-payment .shipping ul li b {
              font-size: 28px;
              vertical-align: -4px;
              line-height: 38px;
              color: #4a4a4a; }
            #product .info .shipping-payment .shipping ul li i {
              font-style: normal;
              color: #868686; }
      #product .info .shipping-payment .payment {
        width: 260px; }
        #product .info .shipping-payment .payment ul {
          color: #868686;
          margin: 0;
          padding: 0;
          list-style-type: none; }
          #product .info .shipping-payment .payment ul li {
            padding: 0 0 6px 0; }
    #product .info .description {
      clear: both;
      padding-top: 20px; }
      #product .info .description ul {
        margin: 0 0 10px 0;
        padding: 0;
        list-style-type: none;
        border-bottom: 1px solid #ececec; }
        #product .info .description ul li {
          float: left;
          border: 1px solid #ececec;
          border-bottom-color: #fff;
          position: relative;
          bottom: -1px;
          padding: 10px 15px 20px; }
      #product .info .description iframe {
        border: 0;
        width: 100%;
        height: 300px; }
  #product .relationship {
    position: fixed;
    z-index: 999;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #2b2b2b;
    -webkit-box-shadow: 0 -1px 13px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 0 -1px 13px rgba(0, 0, 0, 0.55);
    box-shadow: 0 -1px 13px rgba(0, 0, 0, 0.55); }
    #product .relationship > div {
      padding: 11px 15px;
      color: #fff;
      text-align: center;
      font-size: 28px;
      font-weight: normal;
      letter-spacing: -2px; }
      #product .relationship > div strong {
        font-size: 36px;
        margin-right: 15px; }
      #product .relationship > div button {
        position: static;
        background-color: #FEEB4F;
        color: #2b2b2b;
        margin-left: 110px;
        font-size: 28px;
        border: 0; }
        #product .relationship > div button span {
          padding: 9px 17px; }
        #product .relationship > div button:hover {
          background-color: #3d74a7;
          color: #fff; }
    #product .relationship button {
      position: absolute;
      right: 7px;
      top: 7px; }

#profile {
  width: 965px;
  margin: 0 auto;
  position: relative; }
  #profile .seller_background_image {
    height: 166px;
    overflow: hidden; }
  #profile .uploader {
    display: block;
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 64px;
    width: 100%; }
    #profile .uploader .button {
      position: relative;
      overflow: hidden;
      cursor: pointer;
      border-width: 0;
      display: inline-block;
      font-size: 16px;
      font-weight: bold;
      margin-top: 1px;
      text-align: center;
      text-decoration: none;
      padding: 5px;
      width: 110px; }
      #profile .uploader .button input {
        position: absolute;
        right: 0;
        top: 0;
        opacity: 0;
        cursor: pointer; }
  #profile .seller_photo:hover .uploader,
  #profile .seller_background_image:hover .uploader {
    display: block;
    opacity: 1; }
  #profile .seller_photo:hover img.user,
  #profile .seller_background_image:hover img.user {
    opacity: 0.3; }
  #profile .seller_row {
    background-color: #fff;
    border-bottom: 10px solid #ececec;
    color: #4a4a4a;
    font-size: 12px;
    font-weight: normal;
    height: 103px;
    padding-top: 17px; }
  #profile .seller_photo {
    background-color: white;
    float: left;
    height: 142px;
    margin-left: 19px;
    margin-top: -62px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 147px; }
  #profile .seller_info {
    float: left;
    line-height: 20px;
    margin-right: 16px;
    margin-left: 16px;
    margin-top: -2px; }
    #profile .seller_info strong a {
      background: url("../images/seller-sprite.png?v=20120422") no-repeat 0 4px;
      color: #868686;
      display: inline-block;
      font-size: 14px;
      font-weight: bold;
      height: 16px;
      margin-left: 5px;
      padding: 0 0 0 13px;
      text-decoration: none; }
      #profile .seller_info strong a:hover {
        color: #3d74a7; }
    #profile .seller_info span {
      background: url("../images/seller-sprite.png?v=20120422") no-repeat 4px -36px;
      color: #585858;
      display: inline-block;
      height: 16px;
      padding: 0 5px 0 7px;
      text-indent: -9000px; }
    #profile .seller_info a {
      color: #585858;
      text-decoration: none; }
      #profile .seller_info a:hover {
        color: #3d74a7; }
      #profile .seller_info a.seller {
        color: #3d74a7;
        font-size: 22px;
        font-weight: bold;
        margin: 0 0 0 -1px;
        text-decoration: none; }
        #profile .seller_info a.seller:hover {
          color: #ba4105; }
  #profile .seller_name a.seller:hover {
    color: #ba4105; }
  #profile .follow_area {
    float: right;
    margin-top: 1px; }
  #profile .following.fbutton,
  #profile .followers.fbutton {
    border: 1px solid white;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #585858;
    display: inline-block;
    float: left;
    font-size: 12px;
    font-weight: normal;
    height: 35px;
    margin-top: 1px;
    text-decoration: none; }
  #profile .following.fbutton {
    padding-right: 15px;
    padding-left: 3px; }
    #profile .following.fbutton:hover {
      background-color: #ececec;
      border: 1px solid #dcdcdc;
      color: #3d74a7; }
  #profile .following.fbutton span,
  #profile .followers.fbutton span {
    display: inline-block;
    padding-bottom: 5px;
    vertical-align: bottom; }
  #profile .followers.fbutton {
    margin-right: 15px; }
  #profile .following.fbutton strong,
  #profile .followers.fbutton strong {
    display: inline-block;
    font-size: 34px;
    font-weight: bold;
    letter-spacing: -2px;
    line-height: 1;
    margin: -2px 5px 0 0;
    vertical-align: bottom; }
  #profile .followers.fbutton {
    margin-left: 5px;
    margin-right: 0;
    padding-right: 15px;
    padding-left: 3px; }
    #profile .followers.fbutton:hover {
      background-color: #ececec;
      border: 1px solid #dcdcdc;
      color: #3d74a7; }
  #profile .follow.fbutton {
    background-color: #3d74a7;
    border-width: 0;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    height: 35px;
    line-height: 34px;
    margin-top: 1px;
    text-align: center;
    text-decoration: none;
    padding: 0 12px; }
    #profile .follow.fbutton.loading {
      background: white url(../img/loading.gif) no-repeat 10px 50%;
      padding-left: 40px;
      color: #dcdcdc; }
      #profile .follow.fbutton.loading:hover {
        background-color: #fff;
        color: #dcdcdc; }
    #profile .follow.fbutton span {
      display: none; }
      #profile .follow.fbutton span.tfollow {
        display: block; }
    #profile .follow.fbutton.active span {
      display: none; }
      #profile .follow.fbutton.active span.tfollowing {
        display: block; }
    #profile .follow.fbutton.active:hover {
      background-color: #ba4105; }
      #profile .follow.fbutton.active:hover span {
        display: none; }
        #profile .follow.fbutton.active:hover span.tunfollow {
          display: block; }
  #profile .follow.fbutton:hover {
    background-color: #61bb7c; }
  #profile .follow.fbutton.unfollow:hover {
    background-color: #e55832; }
  #profile .follow.fbutton.following:hover {
    background-color: #3F77AB; }
  #profile .seller_description {
    border: 1px solid white;
    clear: right;
    float: left;
    font-size: 16px;
    font-style: italic;
    line-height: 21px;
    margin: 6px 0 0 6px;
    padding: 12px 10px;
    position: relative;
    width: 680px;
    background-color: white;
    position: relative; }
    #profile .seller_description.hoverable:hover {
      border: 1px solid #ececec;
      box-shadow: 0 4px 11px rgba(0, 0, 0, 0.07); }
    #profile .seller_description .edit_button_bg {
      background: url("../images/transparent-to-white.png") repeat-y 100% 0;
      display: none;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      width: 177px;
      z-index: 2; }
    #profile .seller_description .edit_button {
      background-color: #3d74a7;
      color: #fff;
      display: none;
      font-size: 16px;
      font-style: normal;
      font-weight: bold;
      height: 27px;
      line-height: 26px;
      margin-top: -13px;
      padding: 0 15px;
      position: absolute;
      top: 50%;
      right: 12px;
      text-align: center;
      text-decoration: none;
      z-index: 3; }
      #profile .seller_description .edit_button:hover {
        background-color: #3d92d4; }
    #profile .seller_description .edit {
      background-color: white;
      border: 1px solid #ececec;
      box-shadow: 0 4px 11px rgba(0, 0, 0, 0.07);
      display: none;
      margin-bottom: 10px;
      margin-left: -18px;
      margin-top: -1px;
      padding: 18px 17px 16px 17px;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 50; }
      #profile .seller_description .edit.active {
        display: block; }
      #profile .seller_description .edit input,
      #profile .seller_description .edit textarea {
        background-color: #fff;
        border: 1px solid #dcdcdc;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        color: #585858;
        font-size: 16px;
        font-style: italic;
        font-weight: normal;
        margin-top: 6px;
        padding: 9px 9px 10px 9px;
        width: 100%;
        -webkit-box-shadow: 0 2px 0 #eeeeee;
        -moz-box-shadow: 0 2px 0 #eeeeee;
        box-shadow: 0 2px 0 #eeeeee; }
      #profile .seller_description .edit textarea {
        height: 105px; }
      #profile .seller_description .edit .buttons {
        padding-top: 18px;
        padding-bottom: 4px; }
      #profile .seller_description .edit .button {
        display: inline-block;
        font-size: 16px;
        font-style: normal;
        font-weight: bold;
        padding: 5px 10px 6px 10px;
        text-decoration: none; }
    #profile .seller_description .button.cancel {
      margin-left: 10px; }
    #profile .seller_description.hoverable:hover .edit_button {
      display: inline-block; }
    #profile .seller_description.hoverable:hover .edit_button_bg {
      display: block; }

#tag {
  width: 965px;
  margin: 0 auto;
  position: relative;
  padding: 20px 0;
  border-bottom: 4px solid #ececec; }
  #tag h1 {
    margin: 0;
    padding: 0;
    font-size: 16px;
    background: #3d74a7;
    color: #fff;
    padding: 6px 9px;
    display: inline-block; }

#tags {
  padding: 20px 0;
  text-align: center; }
  #tags ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 16px; }
    #tags ul li {
      display: inline-block;
      margin-right: 20px;
      line-height: 50px;
      color: #3d74a7;
      font-weight: bold; }
      #tags ul li a {
        background: #fff;
        color: #585858;
        border: 1px solid #dcdcdc;
        border-bottom-width: 2px;
        padding: 6px 9px;
        margin-right: 3px;
        font-weight: normal;
        text-decoration: none; }
        #tags ul li a:hover {
          background: #3d74a7;
          color: #fff; }

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000; }
  #overlay .bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 1001; }
  #overlay .cnt {
    z-index: 1002;
    background: #fff;
    color: #4a4a4a;
    position: absolute;
    margin: 20px 0 0 -90px;
    padding: 20px;
    -moz-transition: height 0.5s;
    -webkit-transition: height 2s;
    -ms-transition: height 0.5s;
    -o-transition: height 0.5s;
    transition: height 2s; }
    #overlay .cnt:before {
      border-left: 14px solid transparent;
      border-right: 14px solid transparent;
      border-bottom: 15px solid white;
      content: '';
      height: 0;
      left: 40%;
      position: absolute;
      top: -15px;
      width: 0; }
    #overlay .cnt.cities {
      -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      margin: 5px 0 0; }
      #overlay .cnt.cities:before {
        border: 0; }
      #overlay .cnt.cities .loading {
        padding: 20px;
        background: url(../img/spinner.gif) no-repeat 50%; }
      #overlay .cnt.cities > div h1 {
        color: #3d74a7;
        margin: -5px 0 20px;
        font-size: 16px; }
      #overlay .cnt.cities > div h2 {
        font-size: 18px;
        color: #3d74a7; }
      #overlay .cnt.cities > div ul {
        margin: 0;
        padding: 0;
        list-style-type: none; }
        #overlay .cnt.cities > div ul li {
          margin: 0;
          padding: 4px 0 3px;
          font-size: 13px;
          color: #a7a7a7; }
          #overlay .cnt.cities > div ul li a {
            color: #868686;
            font-size: 16px;
            font-weight: normal;
            text-decoration: none; }
      #overlay .cnt.cities > div input {
        border: 1px solid #dcdcdc;
        background: #ececec;
        padding: 0 0 1px 7px;
        font-size: 16px;
        color: #3d74a7;
        line-height: 14px;
        height: 30px;
        display: block;
        width: 241px; }
    #overlay .cnt.left {
      margin-left: 0; }
      #overlay .cnt.left:before {
        left: 10%; }
    #overlay .cnt.right {
      margin-left: -190px; }
      #overlay .cnt.right:before {
        left: 70%; }
    #overlay .cnt.fixed {
      padding: 24px 24px 26px;
      -webkit-box-shadow: 0 0 30px #000;
      box-shadow: 0 0 30px #000;
      /*width: 750px;*/
      margin: 0;
      position: fixed;
      overflow: auto; }
      #overlay .cnt.fixed:before {
        display: none; }
      #overlay .cnt.fixed header,
      #overlay .cnt.fixed h1 {
        color: #3d74a7;
        font-size: 24px;
        background: #ececec;
        border-bottom: 1px solid #dcdcdc;
        margin: 0;
        padding: 20px;
        margin: -24px -24px 17px; }
      #overlay .cnt.fixed a.close {
        right: 20px;
        top: 20px; }
    #overlay .cnt a.eclose,
    #overlay .cnt a.close {
      position: absolute;
      padding: 5px;
      font-size: 18px;
      text-decoration: none;
      right: 10px;
      top: 10px;
      color: #868686;
      border-radius: 18px;
      line-height: 1;
      height: 18px;
      width: 19px;
      text-align: center; }
      #overlay .cnt a.eclose:hover,
      #overlay .cnt a.close:hover {
        color: #fff;
        background: #ba4105; }
    #overlay .cnt a.eclose {
      text-indent: 0;
      color: #fff; }
      #overlay .cnt a.eclose:hover {
        background: transparent; }
    #overlay .cnt form {
      position: relative; }
      #overlay .cnt form label span {
        display: block;
        font-size: 16px;
        font-weight: bold; }
      #overlay .cnt form label textarea {
        width: 669px;
        height: 76px;
        border: 1px solid #ececec;
        padding: 10px;
        margin: 12px 0 30px; }
      #overlay .cnt form button[type=submit] span,
      #overlay .cnt form button[type=reset] span {
        font-size: 22px;
        padding: 3px 15px 5px 12px; }
      #overlay .cnt form > p {
        display: none;
        position: absolute;
        top: -17px;
        left: 0;
        width: 100%;
        margin: 0 0 10px;
        padding: 10px 0;
        text-indent: 5px;
        font-size: 18px;
        font-weight: bold; }
        #overlay .cnt form > p.error {
          display: block;
          background: #eb401a;
          color: #fff; }
          #overlay .cnt form > p.error:before {
            font-size: 40px;
            vertical-align: -9px;
            margin: -10px 10px -10px 0; }
      #overlay .cnt form fieldset {
        border: 0;
        margin: 0;
        padding: 0; }
        #overlay .cnt form fieldset.options {
          color: #4a4a4a;
          line-height: 40px; }
          #overlay .cnt form fieldset.options p {
            margin: 0;
            display: inline;
            font-size: 34px;
            font-weight: bold; }
            #overlay .cnt form fieldset.options p span {
              font-size: 20px;
              vertical-align: 4px; }
          #overlay .cnt form fieldset.options label {
            vertical-align: 6px;
            margin-left: 15px;
            color: #585858; }
            #overlay .cnt form fieldset.options label select {
              margin-left: 5px; }
        #overlay .cnt form fieldset.submit {
          background: #ececec;
          border: 1px solid #dcdcdc;
          padding: 15px;
          margin-top: 15px;
          text-align: right; }
          #overlay .cnt form fieldset.submit p {
            float: left;
            color: #585858;
            font-size: 13px;
            margin: 5px 0 0;
            text-align: left; }
    #overlay .cnt .login {
      white-space: nowrap; }
      #overlay .cnt .login p {
        margin: 15px 0 0;
        font-size: 16px;
        font-weight: bold; }
        #overlay .cnt .login p:first-child {
          margin-top: 0;
          padding-right: 30px; }
        #overlay .cnt .login p.buttons {
          font-size: 22px; }
          #overlay .cnt .login p.buttons > i {
            color: #868686;
            font-weight: normal;
            padding: 0 15px 0 10px; }
          #overlay .cnt .login p.buttons button span {
            font-size: 22px;
            padding: 9px 16px 8px; }
    #overlay .cnt .bid,
    #overlay .cnt .bin {
      width: 450px; }
      #overlay .cnt .bid .submit p,
      #overlay .cnt .bin .submit p {
        width: 330px; }
    #overlay .cnt .contact,
    #overlay .cnt .report {
      width: 695px; }
      #overlay .cnt .contact textarea,
      #overlay .cnt .report textarea {
        font-size: 22px;
        width: 673px; }
      #overlay .cnt .contact button span,
      #overlay .cnt .report button span {
        padding: 8px 17px 9px; }
    #overlay .cnt .share {
      width: 695px; }
      #overlay .cnt .share form textarea {
        font-size: 22px; }
      #overlay .cnt .share form > div img {
        float: left;
        margin: 0 20px 15px 0; }
      #overlay .cnt .share form > div strong {
        color: #3d74a7;
        font-size: 18px; }
      #overlay .cnt .share form > div a {
        line-height: 2;
        color: #4a4a4a;
        text-decoration: none; }
        #overlay .cnt .share form > div a:hover {
          color: #3d74a7; }
      #overlay .cnt .share form button span {
        padding: 9px 16px 8px; }
      #overlay .cnt .share form fieldset {
        text-align: right; }
        #overlay .cnt .share form fieldset div {
          float: left;
          text-align: left;
          white-space: nowrap;
          font-size: 14px;
          color: #dcdcdc;
          line-height: 40px; }
          #overlay .cnt .share form fieldset div strong {
            font-size: 18px;
            color: #868686;
            margin-right: 4px; }
          #overlay .cnt .share form fieldset div a {
            font-size: 40px;
            vertical-align: middle;
            margin-left: 4px;
            text-decoration: none;
            color: #dcdcdc; }
            #overlay .cnt .share form fieldset div a.facebook {
              margin-left: 14px; }
            #overlay .cnt .share form fieldset div a:hover {
              color: #868686; }
            #overlay .cnt .share form fieldset div a.selected {
              color: #ba4105; }
    #overlay .cnt .bids {
      width: 650px; }
      #overlay .cnt .bids p {
        color: #3d74a7;
        font-size: 18px;
        padding: 0 0 20px;
        margin: 20px 0;
        border-bottom: 9px solid #3d74a7; }
        #overlay .cnt .bids p strong {
          font-size: 42px;
          vertical-align: -5px; }
        #overlay .cnt .bids p span {
          font-size: 20px;
          font-weight: bold;
          color: #ba4105;
          margin-left: 46px; }
        #overlay .cnt .bids p i {
          font-style: normal;
          font-size: 13px;
          color: #868686;
          margin-left: 11px; }
      #overlay .cnt .bids table {
        width: 100%; }
        #overlay .cnt .bids table th {
          border-bottom: 1px solid #dcdcdc;
          color: #4a4a4a;
          cursor: pointer;
          font-size: 16px;
          font-weight: bold;
          padding: 0 0 13px 0;
          text-align: left; }
        #overlay .cnt .bids table td {
          border-bottom: 1px solid #ececec;
          font-size: 12px;
          padding: 12px 0 11px 0;
          vertical-align: top; }
          #overlay .cnt .bids table td.bidder {
            line-height: 22px;
            padding-top: 12px;
            width: 40%; }
          #overlay .cnt .bids table td.bid {
            color: #4a4a4a;
            font-size: 20px;
            font-weight: bold;
            width: 15%; }
            #overlay .cnt .bids table td.bid span {
              display: inline-block;
              font-size: 12px;
              padding-top: 2px;
              padding-right: 1px;
              vertical-align: 2px; }
          #overlay .cnt .bids table td.time_left {
            color: #868686;
            font-size: 14px;
            line-height: 22px;
            padding-top: 12px;
            width: 45%; }
          #overlay .cnt .bids table td a {
            color: #3d74a7;
            font-size: 14px;
            font-weight: bold;
            line-height: 15px;
            padding-right: 9px;
            text-decoration: none; }
            #overlay .cnt .bids table td a:hover {
              color: #ba4105; }
    #overlay .cnt .feedback {
      width: 695px;
      min-height: 400px; }
      #overlay .cnt .feedback header ul {
        list-style-type: none;
        margin: -9px 0 -21px -9px;
        padding: 0; }
        #overlay .cnt .feedback header ul li {
          float: left; }
          #overlay .cnt .feedback header ul li a {
            display: block;
            background: url(http://dl.dropbox.com/u/24369602/epek/images/seller-sprite.png) no-repeat;
            font-size: 24px;
            font-weight: bold;
            height: 39px;
            letter-spacing: -2px;
            line-height: 1;
            padding: 16px 22px 0 56px;
            text-decoration: none;
            color: #bdbdbd; }
            #overlay .cnt .feedback header ul li a.selected {
              background-color: #fff;
              border: 1px solid #dcdcdc;
              border-bottom: 0;
              color: #3d74a7; }
          #overlay .cnt .feedback header ul li.r4 a {
            background-position: 12px -169px; }
            #overlay .cnt .feedback header ul li.r4 a.selected {
              background-position: 12px -99px; }
          #overlay .cnt .feedback header ul li.r3 a {
            background-position: 12px -309px; }
            #overlay .cnt .feedback header ul li.r3 a.selected {
              background-position: 12px -239px; }
          #overlay .cnt .feedback header ul li.r2 a {
            background-position: 12px -449px; }
            #overlay .cnt .feedback header ul li.r2 a.selected {
              background-position: 12px -379px; }
          #overlay .cnt .feedback header ul li.r1 a {
            background-position: 12px -589px; }
            #overlay .cnt .feedback header ul li.r1 a.selected {
              background-position: 12px -519px; }
      #overlay .cnt .feedback > div {
        display: none;
        padding: 0 0 1px; }
        #overlay .cnt .feedback > div.selected {
          display: block; }
        #overlay .cnt .feedback > div ul {
          list-style-type: none;
          margin: 0;
          padding: 0; }
          #overlay .cnt .feedback > div ul li {
            border-top: 1px solid #ececec;
            padding: 20px 0; }
            #overlay .cnt .feedback > div ul li:first-child {
              border-top: 0;
              padding-top: 0; }
            #overlay .cnt .feedback > div ul li a {
              text-decoration: none;
              color: #3d74a7; }
              #overlay .cnt .feedback > div ul li a:hover {
                color: #ba4105; }
              #overlay .cnt .feedback > div ul li a img {
                vertical-align: middle;
                margin-right: 4px; }
            #overlay .cnt .feedback > div ul li p {
              margin: 10px 0 0;
              font-weight: normal;
              line-height: 20px;
              color: #868686; }
            #overlay .cnt .feedback > div ul li strong {
              color: #585858;
              font-size: 12px; }
    #overlay .cnt .following,
    #overlay .cnt .followers {
      width: 695px; }
      #overlay .cnt .following ul,
      #overlay .cnt .followers ul {
        margin: 0;
        padding: 0;
        list-style-type: none; }
        #overlay .cnt .following ul li,
        #overlay .cnt .followers ul li {
          margin: 0;
          padding: 10px 0 0; }
          #overlay .cnt .following ul li:first-child,
          #overlay .cnt .followers ul li:first-child {
            padding-top: 0; }
          #overlay .cnt .following ul li img,
          #overlay .cnt .followers ul li img {
            float: left;
            margin: 0 10px 0 0; }
          #overlay .cnt .following ul li a,
          #overlay .cnt .followers ul li a {
            color: #3d74a7;
            font-size: 18px;
            font-weight: bold;
            text-decoration: none; }
            #overlay .cnt .following ul li a:hover,
            #overlay .cnt .followers ul li a:hover {
              color: #ba4105; }
          #overlay .cnt .following ul li p,
          #overlay .cnt .followers ul li p {
            color: #868686;
            font-weight: normal;
            font-size: 14px;
            margin: 5px 0 0; }

#footer {
  width: 965px;
  margin: 0 auto 40px;
  padding: 40px 20px 0;
  color: #868686;
  letter-spacing: 0;
  font-size: 13px;
  line-height: 13px; }
  #footer p {
    float: left;
    white-space: nowrap;
    margin: 0; }
  #footer ul {
    float: right;
    margin: 0;
    padding: 0;
    list-style-type: none; }
    #footer ul li {
      float: left;
      margin-left: 5px;
      padding-left: 5px;
      border-left: 2px solid; }
      #footer ul li:first-child {
        margin-left: 0;
        padding-left: 0;
        border-left: 0; }
      #footer ul li a {
        color: #868686;
        text-decoration: none; }
        #footer ul li a:hover {
          color: #3d74a7; }

#notification {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 16px; }
  #notification.info {
    background: #FFD700;
    color: #000; }
  #notification.success {
    background: #358f26; }
  #notification.warning, #notification.error {
    background: #b5461f; }
  #notification > div {
    padding: 10px; }
