<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>epek</title>
		<meta name="author" content="">
		<meta name="description" content="Instantly connects you to the social marketplace. Follow shopping trends, your friends, favorite brands, and your shopping interests." />
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
		<link href='http://fonts.googleapis.com/css?family=Ubuntu:400,500,700,400italic,700italic' rel='stylesheet'>
		<link rel="stylesheet" href="css/all.css">
		<script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.5.3/modernizr.min.js"></script>
	</head>
	
	<body>
		<header id="header">
			<div>
				<h1><a href="#!/home"><b>E</b>pek</a></h1>
				<nav>
					<ul class="logged-out">
						<li class="sell"><a href="http://stack.epek.com/sell/">Sell on <b class="e">E</b>pek</a></li>
						<li class="community"><a href="http://community.epek.com/">Community</a></li>
						<li class="help"><a href="http://stack.epek.com/help/">Help</a></li>
						<li class="user"><a href="http://stack.epek.com/activity" class="user"></a> <a href="http://signin.epek.com/logout" class="logout">( logout )</a></li>
						<li class="login"><a href="http://stack.epek.com/activity">My <b class="e">E</b>pek</a></li>
					</ul>
				</nav>
				<form action="#!/search" class="search">
					<input type="text" placeholder="Search on Epek" class="real"><button type="submit" class="icon"><span>&#xf002;</span></button>
					<div></div>
				</form>
				<div class="geo">
					<script id="geolocator-tpl" type="text/x-handlebars-template">
						<div><span class="icon-map-marker"></span>{{city.name}} <a href="#">change</a></div>
						<h2>Nearby Cities</h2>
						<ul>
							{{#each cities}}
								<li><a href="#">{{name}}</a></li>
							{{/each}}
						</ul>
					</script>
					<script id="citysearch-tpl" type="text/x-handlebars-template">
						<h1>Change city</h1>
						<input type="text"></label>
						{{#if list}}
							<div class="cities">
								{{#each list}}
									<h2>Within {{distance}} miles</h2>
									<ul>
										{{#each cities}}
										<li data-city='{"name": "{{name}}", "lat": "{{lat}}", "lon": "{{lon}}"}'><a href="#">{{name}}</a> ( {{distance}} miles )</li>
										{{/each}}
									</ul>
								{{/each}}
							</div>
						{{else}}
							<div class="cities loading">
							</div>
						{{/if}}
					</script>
				</div>
			</div>
		</header>
		<section id="profile">
			<script type="text/x-handlebars-template">
				<div class="seller_background_image">
					<img src="http://upload-profile.epek.com/images/cover_{{id}}_965_166" width="965" height="166" alt=""{{#if isUser}} class="user"{{/if}}>
					{{#if isUser}}<div class="uploader" data-type="cover"><label class="button"><span>Edit image</span><input type="file"></label></div>{{/if}}
				</div>
				<div class="seller_row">
					<div class="seller_photo">
						<img src="http://upload-profile.epek.com/images/profile_{{id}}_112_142" width="112" height="142" alt="{{id}}"{{#if isUser}} class="user"{{/if}}>
						{{#if isUser}}<div class="uploader" data-type="profile"><label class="button"><span>Edit image</span><input type="file"></label></div>{{/if}}
					</div>
					<div class="seller_info">
						<a href="#" class="seller">{{id}}</a> <strong><a href="#" class="feedback">{{sellerFeedback}} Positive Feedback</a></strong><br>
						<a href="#" class="transactions">{{sellerScore}} Transactions</a>
					</div>
					<div class="follow_area">
						<a href="#" class="following fbutton"><strong>{{follow.following}}</strong><span>Following</span></a>
						<a href="#" class="followers fbutton"><strong>{{follow.followers}}</strong><span>Followers</span></a>
						<a href="#" class="follow fbutton{{#if relationship.following}} active{{/if}}"{{#if isUser}} style="display: none;"{{/if}}><span class="tfollow">Follow!</span><span class="tfollowing">Following</span><span class="tunfollow">Unfollow</span></a>
					</div>
					<div class="seller_description{{#if isUser}} hoverable{{/if}}">
						<span>{{descriptionText}}</span>
						<!-- edit text -->
						{{#if isUser}}
						<div class="edit_button_bg"><a href="#" class="edit_button">Edit</a></div>
						<div class="edit">
							<input type="text" value="{{description}}" data-value="{{description}}">
							<div class="buttons"><a href="#" class="button confirm">Confirm</a> <a href="#" class="button cancel">Cancel</a></div>
						</div>
						{{/if}}
					</div>
				</div>
			</script>
		</section>
		<section id="tag">
			<script type="text/x-handlebars-template">
				<h1>{{tag}}</h1>	
			</script>
		</section>
			
		<div id="wrapper" class="loading">
			<section id="home">home</section>
			<script id="home-items-tpl" type="text/x-handlebars-template">
				{{#if items}}
					<ul class="items">
						{{#each items}}
						<li data-url="#!/{{url}}">
							<h1><span>{{title}}</span></h1>
							<img src="{{image size=467 crop=true}}">
							<div><span class="price"><span>$</span>{{price}}</span> <span class="time"><span>&#xf017;</span>{{timeLeft abbr=true}}</span></div>
						</li>
						{{/each}}
					</ul>
				{{else}}
					<p>No results</p>
				{{/if}}
				<div class="categories">
						<ul>
							{{#each categories}}
							<li><a href="#!/search//category-{{this.path}}"><img src="http://data.epek.com/US_EN/images/{{this.path}}.png" height="88"><strong><span>{{this.name}}</span></strong></a></li>
							{{/each}}
						</ul>
				</div>
				<p><span>$</span><strong>Sellers!</strong> Want to get the most out of your sales ? There is no better place than <b class="e">E</b>pek to showcase your items, whether they are unique or ordinary <a href="http://stack.epek.com/sell/">Sell on <b class="e">E</b>pek!</a></p>
			</script>
			<script id="home-item-tpl" type="text/x-handlebars-template">
				<li class="more-item" data-url="#!/{{url}}">
					<h1><span>{{title}}</span></h1>
					<img src="{{image size=467 crop=true}}">
					<div><span class="price"><span>$</span>{{price}}</span> <span class="time"><span>&#xf017;</span>{{timeLeft abbr=true}}</span></div>
				</li>
			</script>
			<section id="search">search</section>
			<script id="search-items-tpl" type="text/x-handlebars-template">
				<nav>
				<ul data-listing-type="{{query.ListingType}}" class="{{lowercase query.ListingType}}">
						<li class="all" data-listing-type="All"><a href="#">All Items</a></li>
						<li class="auction" data-listing-type="Auction"><a href="#">Auction</a></li>
						<li class="fixed" data-listing-type="FixedPrice"><a href="#">Fixed Price</a></li>
					</ul>
					<div>
						<p>{{paging.totalEntries}} Results</p>
					</div>
				</nav>
				{{#if items}}
					<ul>
					</ul>
				{{else}}
					{{#if query.profile}}
						<p>No results.</p>
					{{else}}
						{{#if query.keywords}}
							<p>Your search "{{query.keywords}}" did not match any products.</p>
						{{else}}
							<p>No results.</p>
						{{/if}}
					{{/if}}
				{{/if}}
			</script>
			<script id="search-item-tpl" type="text/x-handlebars-template">
				{{#each items}}
					<li>
						<a href="#!/{{url}}">
							<h1>{{title}}</h1>
							<img src="{{image size=100 crop=true}}">
							<div class="price"><span>$</span>{{price}}</div>
							<p><br>${{shippingPrice}} {{shippingName}}</p>
							{{#if hasBids}}
								<div class="time">{{timeLeft}}</div>
							{{/if}}
						</a>
					</li>
				{{/each}}
			</script>
			<section id="product">
				<div class="header-wrapper">
					<header>
						<script type="text/x-handlebars-template">
							<h1>{{title}}</h1>
							<ul>
								<li class="share"><a href="#"><span>&#xf045;</span> Share</a></li>
								<li class="watch"><a href="#" class="{{watching}}"><span>&#xf06e;</span> {{watching}}</a></li>
								<li class="report"><a href="#"><span>&#xf024;</span> Report</a></li>
							</ul>
							<p class="location"><span>&#xf041;</span> {{location}}, <i>United States</i></p>
						</script>
					</header>
				</div>
				<div class="wrapper">
					<div class="gallery-wrapper">
						<script type="text/x-handlebars-template">
							<div>{{{galleryImage}}}</div>
							<p><a href="#" class="fs"><span class="icon-resize-full"></span><span class="icon-resize-small"></span></a></p>
							{{#if needsPager}}
								<ul>
									<li><a href="#" class="icon-chevron-left prev"></a></li>
									<li><a href="#" class="icon-chevron-right next"></a></li>
								</ul>
							{{/if}}
						</script>
					</div>
					<div class="bidding">
						<script type="text/x-handlebars-template">
							{{#if hasBids}}
								<form class="bid">
									<span><span>$</span>{{price}}</span>{{#if isActive}} <label><span>Minimum to bid: ${{minimumBid}}</span><input type="text"></label><button type="submit"><span>Bid</span></button>{{/if}}
								</form>
							{{/if}}
							{{#if hasBIN}}
								<form class="bin">
									<span><span>$</span>{{price}}</span>{{#if isActive}} <button type="submit"><span>Buy Now</span></button>{{/if}}
								</form>
							{{/if}}
							{{#if hasBids}}
							<p class="bids"><strong>{{bidCount}}</strong> bids{{#if isActive}} so far{{/if}}{{#if bidCount}} <a href="#">(see bidding history)</a>{{/if}}</p>
							<p class="time"><strong>{{timeLeft}}</strong> {{ends}}</p>
							{{/if}}
						</script>
					</div>
					<div class="images">
						<script type="text/x-handlebars-template">
							{{{images}}}
						</script>
					</div>
					<div class="info">
						<script type="text/x-handlebars-template">
							<div class="profile">
								<a href="#!/{{profile.id}}"><img src="http://upload-profile.epek.com/images/profile_{{profile.id}}_62_62" alt=""></a>
								<a href="#!/{{profile.id}}">{{profile.id}}</a>
								<p>
								( <span class="text-icon">&#xf005;</span> {{sellerScore}}) {{sellerFeedback}} Positive <span class="graph"><span style="width: {{sellerFeedback}}"></span></span>
								</p>
								<button><span>Contact Seller</span></button>
							</div>
							<div class="shipping-payment">
								{{#shippingMethods}}
									<div class="shipping">
										<h1>Shipping & Handling</h1>
										<ul>
											{{#each methods}}
												<li>
													{{name}}<br>
													{{{cost}}}<br>
													<i>{{delivery}}</i>
												</li>
											{{/each}}
										</ul>
									</div>
								{{/shippingMethods}}
								{{#if paymentMethods}}
									<div class="payment">
										<h1>Payment Methods</h1>
										<ul>
											{{#each paymentMethods}}
												<li>{{Name}}</li>
											{{/each}}
										</ul>
									</div>
								{{/if}}
							</div>
							<div class="description">
								<ul>
									<li>Description</li>
								</ul>
								<iframe src="http://item.epek.com.commondatastorage.googleapis.com/{{url}}/description.html"></iframe>
							</div>
						</script>
					</div>
					<div class="relationship">
						<script type="text/x-handlebars-template">
							{{#if relationship.Buyer}}
								<div>{{{buyerRelationship}}}</div>
							{{/if}}
							{{#if relationship.Seller}}
								<div>{{{sellerRelationship}}}</div>
							{{/if}}
						</script>
					</div>
				</div>
			</section>
			<section id="tags">tags</section>
			<script id="tags-tpl" type="text/x-handlebars-template">
				<ul>
					{{#each tags}}
						<li><a href="#!/tag/{{tag}}">{{tag}}</a> x{{ref_count}}</li>
					{{/each}}
				</ul>
			</script>
			<aside id="filter">
				<div id="slider" class="search">
				    <label for="" class="floatLeft">Min <span class="currency">($)</span></label>
				    <label for="" class="floatRight">Max <span class="currency">($)</span></label>				    
				    <table class="slide_area">
				        <tr>
				            <td class="info">
				                <div class="indicator min left">
							<span class="value"><input type="text" class="editable"></span>
        				        </div>
				            </td>
				            <td>
				                <div id="min_max">
            				    </div>
				            </td>
				            <td class="info">
				                <div class="indicator max right">
							<span class="value"><input type="text" class="editable"></span>
        				        </div>
				            </td>
				        </tr>
				    </table>
				    				    
				    <label for="" class="distance">Distance</label>
				    <table class="slide_area">
				        <tr>
				            <td class="info">
            				    <div class="indicator left radius">
            				        <div class="map_icon"></div>
						<span class="value"><input type="text" value="-" class="editable"> mi</span>
            			        </div>
            			    </td>
            			    <td>
            				    <div id="radius">
            				    </div>
            				</td>
            				<td class="info faux_end"><!-- this is here because otherwise the jQuery slider handle will slide outside the right of the bar a bit --></td>
            			</tr>
            		</table>
				    
				</div> <!-- end slider -->
			
			</aside>
			<section id="return"></section>
		</div>
		<footer id="footer">
			<p>© 2012 <span class="e">E</span>pek.com - All Rights Reserved</p>
			<ul>
				<li><a href="http://stack.epek.com/pages/agreement.html">Terms of Use</a></li>
				<li><a href="http://stack.epek.com/pages/privacy.html">Privacy Statement</a></li>
				<li><a href="http://stack.epek.com/pages/aboutus.html">About</a></li>
                                <li><a href="http://stack.epek.com/affiliate/">Affiliate</a></li>
                                <li><a href="http://www.epek.com/tags">Tags</a></li>
				<li><a href="http://stack.epek.com/sell_start">Sell Now !</a></li>
			</ul>
		</footer>
	<script id="share-tpl" type="text/x-handlebars-template">
		<div class="share">
			<h1>Share with your friends</h1>
			<form data-action="product-postsocial">
				<input type=hidden name=title value="{{title}}">
				<input type=hidden name=image value="{{image size=100}}">
				<input type=hidden name=url value="{{realUrl}}">
				<p class="icon-exclamation-sign"><span></span><a href="#" class="eclose icon-remove"></a></p>
				<div>
					<img src="{{image size=100}}" height=100>
					<strong>{{title}}</strong><br>
					<a href="{{realUrl}}">{{realUrl}}</a>
				</div>
				<label>
					<span>Message</span>
					<textarea name="message"></textarea>
				</label>
				<fieldset>
					<div>
						<strong>Where do you want to share?</strong> (Click Each) <a href="#" class="facebook {{{has_social service="facebook"}}}">&#xf082;</a> <a href="#" class="twitter {{{has_social service="twitter"}}}">&#xf081;</a>
					</div>
					<button type="submit"><span>Share</span></button>
					<button type="reset"><span>Cancel</span></button>
				</fieldset>
			</form>
		</div>
	</script>
	<script id="login-tpl" type="text/x-handlebars-template">
		<div class="login">
			<p>You must be logged in to do this</p>
			<p class="buttons"><button><span>Sign In</span></button><i>or</i><button><span>Register</span></button></p>
		</div>
	</script>
	<script id="contact-tpl" type="text/x-handlebars-template">
		<div class="contact">
			<h1>Ask {{seller}} a question</h1>
			<form data-action="product-sendmessage">
				<input type="hidden" name="sellerId" value="{{seller}}">
				<input type="hidden" name="itemId" value="{{itemId}}">
				<p class="icon-exclamation-sign"><span></span><a href="#" class="eclose icon-remove"></a></p>
				<label>
					<span>Message</span>
					<textarea name="content"></textarea>
				</label>
				<button type="submit"><span>Ask Question</span></button>
			</form>
		</div>
	</script>
	<script id="report-tpl" type="text/x-handlebars-template">
		<div class="report">
			<h1>Report {{title}}</h1>
			<form data-action="product-sendreport">
				<p class="icon-exclamation-sign"><span></span><a href="#" class="eclose icon-remove"></a></p>
				<label>
					<span>Message</span>
					<textarea></textarea>
				</label>
				<button type="submit"><span>Report Item</span></button>
			</form>
		</div>
	</script>
	<script id="bid-tpl" type="text/x-handlebars-template">
		<div class="bid">
			<h1>Confirm bid</h1>
			<form data-action="product-placebid" data-url="{{url}}">
				<input type=hidden name=itemid value={{itemId}}>
				<input type=hidden name=bid value={{temptativeBid}}>
				<p class="icon-exclamation-sign"><span></span><a href="#" class="eclose icon-remove"></a></p>
				<fieldset class="options">
					<p><span>$</span>{{temptativeBid}}</p>
				</fieldset>
				<fieldset class="submit">
					<p>By clicking Confirm bid, you commit to buy this item from the seller if you are the winning bidder.</p>
					<button type="submit"><span>Bid</span></button>
				</fieldset>
			</form>
		</div>
	</script>
	<script id="bin-tpl" type="text/x-handlebars-template">
		<div class="bin">
			<h1>Buy now</h1>
			<form data-action="product-buynow">
				<input type=hidden name=itemid value={{itemId}}>
				<input type=hidden name=price value={{price}}>
				<p class="icon-exclamation-sign"><span></span><a href="#" class="eclose icon-remove"></a></p>
				<fieldset class="options">
					<p><span>$</span>{{price}}</p>
					{{{quantitySelect}}}
				</fieldset>
				<fieldset class="submit">
					<p>By clicking Buy you commit to pay for this item.</p>
					<button type="submit"><span>Buy</span></button>
				</fieldset>
			</form>
		</div>
	</script>
	<script id="bids-tpl" type="text/x-handlebars-template">
		<div class="bids">
			<h1>Bidders List</h1>
			<p><strong>{{bidCount}}</strong> bids so far <span>{{timeLeft}}</span> <i>{{ends}}</i></p>
			{{#biddersList}}
				<table>
					<thead>
						<tr>
							<th>Bidder ID</th><th>Bid</th><th>Bid Placed</th>
						</tr>
					</thead>
					<tbody>
						{{#each bidHistory}}
							<tr>
								<td class="bidder"><a href="#!/{{name}}">{{name}}</a></td><td class="bid"><span>$</span>{{value}}</td><td class="time_left">{{bid_date date}}</td>
							</tr>
						{{/each}}
					</tbody>
				</table>
			{{/biddersList}}
		</div>
	</script>
	<script id="following-tpl" type="text/x-handlebars-template">
		<div class="following">
			<h1>{{follow.following}} Following</h1>
			{{#followingList}}
				<ul>
					{{#each following}}
						<li>
							{{#if this}}
								<img src="http://upload-profile.epek.com/images/profile_{{this.name}}_48_48" width="48" height="48" alt="">
							{{else}}
								<img src="img/loading.gif" style="margin-bottom: 16px;" alt="">
							{{/if}}
							<a href="#!/{{this.name}}">{{this.name}}</a>
							<p>{{this.description}}</p>
						</li>
					{{/each}}
				</ul>
			{{/followingList}}
		</div>
	</script>
	<script id="followers-tpl" type="text/x-handlebars-template">
		<div class="followers">
			<h1>{{follow.followers}} Followers</h1>
			{{#followersList}}
				<ul>
					{{#each followers}}
						<li>
							{{#if this}}
								<img src="http://upload-profile.epek.com/images/profile_{{this.name}}_48_48" width="48" height="48" alt="">
							{{else}}
								<img src="img/loading.gif" style="margin-bottom: 16px;" alt="">
							{{/if}}
							<a href="#!/{{this.name}}">{{this.name}}</a>
							<p>{{this.description}}</p>
						</li>
					{{/each}}
				</ul>
			{{/followersList}}
		</div>
	</script>
	<script id="feedback-tpl" type="text/x-handlebars-template">
		<div class="feedback">
			<header>
				<ul class="tabs">
					{{#with feedback}}
						<li class="r4"><a href="#" class="selected">{{r4.length}}</a></li>
						<li class="r3"><a href="#">{{r3.length}}</a></li>
						<li class="r2"><a href="#">{{r2.length}}</a></li>
						<li class="r1"><a href="#">{{r1.length}}</a></li>
					{{/with}}
				</ul>
			</header>
			{{#with feedback}}
				<div class="r4 selected">
					{{#if r4}}
						<ul>
							{{#each r4}}
								<li>
								<a href="#!/{{otherUsername}}"><img src="http://upload-profile.epek.com/images/profile_{{otherUsername}}_16_16" width=16 height=16> {{otherUsername}}</a> <strong><span class="icon-star"></span> 99.8% Positive Feedback</strong>
								<p>{{feedbackComments}}</p>
								</li>
							{{/each}}
						</ul>
					{{/if}}
				</div>
				<div class="r3">
					{{#if r3}}
						<ul>
							{{#each r3}}
								<li>
									<a href="#!/{{otherUsername}}"><img src="http://upload-profile.epek.com/images/profile_{{otherUsername}}_16_16" width=16 height=16> {{otherUsername}}</a> <strong><span class="icon-star"></span> 99.8% Positive Feedback</strong>

									<p>{{feedbackComments}}</p>
								</li>
							{{/each}}
						</ul>
					{{/if}}
				</div>
				<div class="r2">
					{{#if r2}}
						<ul>
							{{#each r2}}
								<li>
									<a href="#!/{{otherUsername}}"><img src="http://upload-profile.epek.com/images/profile_{{otherUsername}}_16_16" width=16 height=16> {{otherUsername}}</a> <strong><span class="icon-star"></span> 99.8% Positive Feedback</strong>

									<p>{{feedbackComments}}</p>
								</li>
							{{/each}}
						</ul>
					{{/if}}
				</div>
				<div class="r1">
					{{#if r1}}
						<ul>
							{{#each r1}}
								<li>
									<a href="#!/{{otherUsername}}"><img src="http://upload-profile.epek.com/images/profile_{{otherUsername}}_16_16" width=16 height=16> {{otherUsername}}</a> <strong><span class="icon-star"></span> 99.8% Positive Feedback</strong>

									<p>{{feedbackComments}}</p>
								</li>
							{{/each}}
						</ul>
					{{/if}}
				</div>
			{{/with}}
		</div>
	</script>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script>
	<script src="js/libs/jquery-ui-1.8.20.custom.min.js"></script>
	<script src="js/libs/jquery.easing.1.3.js"></script>
	<script src="js/libs/jquery.autogrowinput.js"></script>
	<script src="js/libs/jquery.cookie.js"></script>
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
	<script src="js/slider-search.js?v=20120503"></script>
	<script src="js/filter.js?3"></script>
	<!--[if lt IE 10]>
		<script src="js/libs/jquery.iecors.js"></script>
	<![endif]-->
        <script src="js/libs/handlebars.runtime-1.0.0.beta.6.js"></script>
	<script src="js/overlay.js?3"></script>
	<script src="js/models.js?2"></script>
	<script src="js/spa.js?3"></script>
	<script src="js/controllers.js?3"></script>
	<script src="js/login.js"></script>
	<script src="js/libs/social.js"></script>
	<script src="js/libs/jquery.fileupload.js"></script>
	<script src="js/notification.js"></script>
	<script src="js/libs/screenfull.js"></script>
	</body>
</html>

